In [1]:
import pandas as pd

In [2]:
sas_url="https://azureaistudioc1400009621.blob.core.windows.net/4906a419-4b48-4408-a61e-775fc4e879ca-azureml-blobstore/petstoresalesdata.csv?sp=r&st=2025-03-03T05:41:33Z&se=2025-03-15T13:41:33Z&sv=2022-11-02&sr=b&sig=uJCYzvQySFUTiZLyIouvJqtnc3emOydkubteu7LX8R4%3D"

In [3]:
df=pd.read_csv(filepath_or_buffer=sas_url)

In [4]:
df.head()

        Store     Product   Sales    Cost  Quantity
0   Pine_Road  Bird_Cages  865.03  268.17        18
1   Pine_Road  Fish_Tanks  504.51  361.60        10
2  Cedar_Lane   Bird_Seed  185.87  171.24         3
3   Pine_Road    Dog_Food  433.74  159.86         7
4   Pine_Road   Fish_Food  701.96  125.73        16

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Store     50 non-null     object
 1   Product   50 non-null     object
 2   Sales     50 non-null     float64
 3   Cost      50 non-null     float64
 4   Quantity  50 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.1+ KB

In [ ]:
df.info()

In [6]:
answer = str(df[df['Product'] == 'Bird Cages']['Sales'].sum())

In [7]:
answer

'0.0'

In [9]:
for col in df.columns:
    print(f"For column:{col}, Unique Columns are: {df[col].unique()}")

For column:Store, Unique Columns are: ['Pine_Road' 'Cedar_Lane' 'Oak_Avenue' 'Maple_Street' 'Elm_Boulevard']
For column:Product, Unique Columns are: ['Bird_Cages' 'Fish_Tanks' 'Bird_Seed' 'Dog_Food' 'Fish_Food' 'Cat_Food'
 'Cat_Toys' 'Leashes' 'Pet_Beds' 'Dog_Toys']
For column:Sales, Unique Columns are: [865.03 504.51 185.87 433.74 701.96 699.33 632.17 347.25 605.12 444.63
 974.54 864.02 749.56 312.39 330.46 136.39 739.6  199.8  495.4  281.55
 906.19 527.83 606.95 725.96 225.4  643.98 585.86 282.76 948.57 638.98
 725.31 892.42 661.92 366.07 194.94 510.88 296.6  474.86 894.95 391.91
 209.88 420.67 916.15 344.92 682.92 100.47 417.31 374.3  248.19 580.68]
For column:Cost, Unique Columns are: [268.17 361.6  171.24 159.86 125.73 148.44 301.15 231.73  79.2  164.26
 161.09 363.34 370.52 116.64 498.98 170.05 489.48 234.97  64.87 205.28
 335.46 356.32 288.92 251.5  298.8  316.71  86.38 216.34 158.97 411.41
 261.64 492.54 229.47 417.39 409.26 117.82 278.69 363.12 436.26 196.68
 149.11 370.02 414.28 206.9   93.28 473.24 228.91 282.99 426.97 354.06]
For column:Quantity, Unique Columns are: [18 10  3  7 16 17  2  1 12  5  9 19 11  8  4  6 14]

In [10]:
answer = str(df.loc[df['Product'] == 'Bird_Cages', 'Sales'].sum())

In [11]:
answer

'3431.1299999999997'

In [15]:
exec("answer1 = str(df.loc[df['Product'] == 'Bird_Cages', 'Sales'].sum())")

In [16]:
answer1

'3431.1299999999997'