In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.appName(name='Basics').getOrCreate()

In [0]:
from pyspark.sql.types import *
from pyspark.sql.functions import col

In [0]:
spark.createDataFrame(data = [('Ritish','M'), ('Rohit', 'F')], schema = ['Name', 'Gender']).show()

+------+------+
|  Name|Gender|
+------+------+
|Ritish|     M|
| Rohit|     F|
+------+------+

In [0]:
df = spark.createDataFrame(data = [('2015-04-08',)], schema = ['dt'])

In [0]:
df.show()

+----------+
|        dt|
+----------+
|2015-04-08|
+----------+

In [0]:
#1. add_months
from pyspark.sql.functions import add_months
#Returns the date that is months months after start

In [0]:
df.select(add_months(start = df['dt'], months = 3)).show()

+-----------------+
|add_months(dt, 3)|
+-----------------+
|       2015-07-08|
+-----------------+

In [0]:
import seaborn as sns

In [0]:
tips = sns.load_dataset(name= 'tips' )

In [0]:
tips.head()

,total_bill,tip,sex,smoker,day,time,size
0,16.99,1.01,Female,No,Sun,Dinner,2
1,10.34,1.66,Male,No,Sun,Dinner,3
2,21.01,3.50,Male,No,Sun,Dinner,3
3,23.68,3.31,Male,No,Sun,Dinner,2
4,24.59,3.61,Female,No,Sun,Dinner,4

In [0]:
#2. approx_count_distinct
from pyspark.sql.functions import approx_count_distinct
#Aggregate function: returns a new :class:`Column` for approximate distinct count of column `col`.

In [0]:
tipss = spark.createDataFrame(data = tips)

In [0]:
tipss.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [0]:
tipss.agg(approx_count_distinct(col = tipss['day']).alias('distinct_count_days')).show()

+-------------------+
|distinct_count_days|
+-------------------+
|                  4|
+-------------------+

In [0]:
df1 = spark.createDataFrame(data = [(['a','b','c'],),
                                    ([],)] , schema= ['data'] )

In [0]:
df1.show()

In [0]:
#3. array_contains
from pyspark.sql.functions import array_contains
#Collection function: returns null if the array is null, true if the array contains the given value, and false otherwise.

In [0]:
df1.select(array_contains(col = df1['data'], value = 'a')).show()

In [0]:
#4. array_distinct
from pyspark.sql.functions import array_distinct
#Collection function: removes duplicate values from the array.

In [0]:
df2 = spark.createDataFrame([([1, 2, 3, 2],), ([4, 5, 5, 4],)], ['data'])

In [0]:
df2.show()

+------------+
|        data|
+------------+
|[1, 2, 3, 2]|
|[4, 5, 5, 4]|
+------------+

In [0]:
df2.select(array_distinct(df2['data'])).show()

+--------------------+
|array_distinct(data)|
+--------------------+
|           [1, 2, 3]|
|              [4, 5]|
+--------------------+

In [0]:
#5. array_except
from pyspark.sql.functions import array_except
#Collection function: returns an array of the elements in col1 but not in col2, without duplicates.

In [0]:
df2 = spark.createDataFrame([([1,2,3,4],[2,4,2,5])], ['data_1', 'data_2'])

In [0]:
df2.show()

+------------+------------+
|      data_1|      data_2|
+------------+------------+
|[1, 2, 3, 4]|[2, 4, 2, 5]|
+------------+------------+

In [0]:
df2.select(array_except(df2['data_1'], df2['data_2'])).show()

+----------------------------+
|array_except(data_1, data_2)|
+----------------------------+
|                      [1, 3]|
+----------------------------+

In [0]:
# 6. array_intersect
from pyspark.sql.functions import array_intersect
#Collection function: returns an array of the elements in the intersection of col1 and col2, without duplicates.

In [0]:
df2.select(array_intersect(col1 = df2['data_1'], col2= df2['data_2'])).show()

+-------------------------------+
|array_intersect(data_1, data_2)|
+-------------------------------+
|                         [2, 4]|
+-------------------------------+

In [0]:
#7. array_join
from pyspark.sql.functions import array_join
#Concatenates the elements of column using the delimiter. Null values are replaced with null_replacement if set, otherwise they are ignored.

In [0]:
df3 = spark.createDataFrame(data = [(['a','b','c'],), (['a',None],)], schema = ['data'])

In [0]:
df3.show()

+---------+
|     data|
+---------+
|[a, b, c]|
|[a, null]|
+---------+

In [0]:
df3.select(array_join(col = df3['data'] , delimiter= '.', null_replacement = None)).show()

+-------------------+
|array_join(data, .)|
+-------------------+
|              a.b.c|
|                  a|
+-------------------+

In [0]:
df3.select(array_join(col = df3['data'] , delimiter= '.', null_replacement = "Null")).show()

+-------------------------+
|array_join(data, ., Null)|
+-------------------------+
|                    a.b.c|
|                   a.Null|
+-------------------------+

In [0]:
#8. array_max
from pyspark.sql.functions import array_max
#Collection function: returns the maximum value of the array

In [0]:
df4 = spark.createDataFrame(data = [([2,1,3],),([None, 10, -1],)], schema = ['data'])

In [0]:
df4.show()

+--------------+
|          data|
+--------------+
|     [2, 1, 3]|
|[null, 10, -1]|
+--------------+

In [0]:
df4.select(array_max(col = df4['data'])).show()

+---------------+
|array_max(data)|
+---------------+
|              3|
|             10|
+---------------+

In [0]:
#9. array_min
from pyspark.sql.functions import array_min
#Collection function: returns the minimum value of the array.

In [0]:
df4.select(array_min(df4['data'])).show()

+---------------+
|array_min(data)|
+---------------+
|              1|
|             -1|
+---------------+

In [0]:
#10. array_position
from pyspark.sql.functions import array_position
#Collection function: Locates the position of the first occurrence of the given value in the given array. Returns null if either of the arguments are null.
#The position is not zero based, but 1 based index. Returns 0 if the given value could not be found in the array.

In [0]:
df4.select(array_position(col=df4['data'], value = 3)).show()

+-----------------------+
|array_position(data, 3)|
+-----------------------+
|                      3|
|                      0|
+-----------------------+

In [0]:
# 11. array_remove
from pyspark.sql.functions import array_remove
#Collection function: Remove all elements that equal to element from the given array.

In [0]:
df4.show()

+--------------+
|          data|
+--------------+
|     [2, 1, 3]|
|[null, 10, -1]|
+--------------+

In [0]:
df4.select(array_remove(col = df4['data'], element= 1)).show()

+---------------------+
|array_remove(data, 1)|
+---------------------+
|               [2, 3]|
|       [null, 10, -1]|
+---------------------+

In [0]:
#12. array_repeat
from pyspark.sql.functions import array_repeat
#Collection function: creates an array containing a column repeated count times.

In [0]:
df5 = spark.createDataFrame(data = [('ab',)], schema=['data'])

In [0]:
df5.show()

+----+
|data|
+----+
|  ab|
+----+

In [0]:
df5.select(array_repeat(col = df5['data'], count = 3)).show()

+---------------------+
|array_repeat(data, 3)|
+---------------------+
|         [ab, ab, ab]|
+---------------------+

In [0]:
#13. array_sort
from pyspark.sql.functions import array_sort
#Collection function: sorts the input array in ascending order. The elements of the input array must be orderable. Null elements will be placed at the end of the returned array.

In [0]:
df4.show()

+--------------+
|          data|
+--------------+
|     [2, 1, 3]|
|[null, 10, -1]|
+--------------+

In [0]:
df4.select(array_sort(col = df4['data'])).show()

+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|array_sort(data, lambdafunction((IF(((left IS NULL) AND (right IS NULL)), 0, (IF((left IS NULL), 1, (IF((right IS NULL), -1, (IF((left < right), -1, (IF((left > right), 1, 0)))))))))), left, right))|
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                             [1, 2, 3]|
|                                                                                                                                                                                        [-1, 10, null]|
+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [0]:
#14. array_union
from pyspark.sql.functions import array_union
#Collection function: returns an array of the elements in the union of col1 and col2, without duplicates.

In [0]:
from pyspark.sql import Row
df6 = spark.createDataFrame([Row(c1=["b", "a", "c"], c2=["c", "d", "a", "f"])])

In [0]:
df6.show()

+---------+------------+
|       c1|          c2|
+---------+------------+
|[b, a, c]|[c, d, a, f]|
+---------+------------+

In [0]:
df6.select(array_union(col1= df6['c1'], col2= df6['c2'])).show()

+-------------------+
|array_union(c1, c2)|
+-------------------+
|    [b, a, c, d, f]|
+-------------------+

In [0]:
tipss.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [0]:
tipss.columns

Out[69]: ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [0]:
#15. atan
from pyspark.sql.functions import atan
# Returns inverse tangent of col, as if computed by java.lang.Math.atan()

In [0]:
tipss.select(atan(col = tipss['total_bill'])).show()

+------------------+
|  ATAN(total_bill)|
+------------------+
|1.5120060010946794|
| 1.474384367770975|
|1.5232358372082375|
|1.5285916737022431|
|1.5301517851212092|
|1.5312755946336702|
|1.4572615957349155|
|1.5336110945154002|
|1.5044046855238589|
|1.5032402872739714|
|1.4737313328368717|
|1.5424431782235315|
| 1.506036167936664|
| 1.516590121124307|
| 1.503467366567067|
|1.5244902495532138|
|1.4742916138899547|
|1.5094859095570865|
|1.5119368735569017|
|1.5224079780920512|
+------------------+
only showing top 20 rows

In [0]:
#16. avg
from pyspark.sql.functions import avg,sum
#Aggregate function: returns the average of the values in a group.

In [0]:
tipss.select(avg(col = tipss['total_bill'])).show()

+------------------+
|   avg(total_bill)|
+------------------+
|19.785942622950817|
+------------------+

In [0]:
tipss.groupBy(['sex','day']).agg(avg(col = col('total_bill')).alias("Average Total Bill"), sum(col = col('total_bill')).alias("Sum of Total Bill")).show()

+------+----+------------------+------------------+
|   sex| day|Average Total Bill| Sum of Total Bill|
+------+----+------------------+------------------+
|Female| Sat|19.680357142857144| 551.0500000000001|
|Female| Sun| 19.87222222222222|             357.7|
|  Male| Sun| 21.88724137931035|1269.4600000000003|
|  Male| Sat|20.802542372881355|           1227.35|
|Female|Thur|        16.7153125|            534.89|
|  Male| Fri|            19.857|            198.57|
|  Male|Thur|18.714666666666666| 561.4399999999999|
|Female| Fri|14.145555555555555|            127.31|
+------+----+------------------+------------------+

In [0]:
#17. bround
from pyspark.sql.functions import bround
#Round the given value to scale decimal places using HALF_EVEN rounding mode if scale >= 0 or at integral part when scale < 0.

In [0]:
tipss.select(bround(col = tipss['total_bill'], scale = 1)).show()

+---------------------+
|bround(total_bill, 1)|
+---------------------+
|                 17.0|
|                 10.3|
|                 21.0|
|                 23.7|
|                 24.6|
|                 25.3|
|                  8.8|
|                 26.9|
|                 15.0|
|                 14.8|
|                 10.3|
|                 35.3|
|                 15.4|
|                 18.4|
|                 14.8|
|                 21.6|
|                 10.3|
|                 16.3|
|                 17.0|
|                 20.6|
+---------------------+
only showing top 20 rows

In [0]:
#18. cbrt
from pyspark.sql.functions import cbrt
#Computes the cube-root of the given value.

In [0]:
tipss.select(cbrt(col = tipss['total_bill'])).show()

+------------------+
|  CBRT(total_bill)|
+------------------+
| 2.570777318907579|
|2.1785800027816777|
|2.7593620313601246|
|2.8716217408273277|
| 2.907944920301343|
|2.9352805023932897|
|2.0622114686677766|
| 2.995548954887403|
|2.4684023171106872|
|2.4540956069652458|
|2.1736526644666934|
| 3.279146119192328|
|2.4890184999585117|
| 2.641446253783426|
|2.4568598530584262|
|2.7840934812491223|
|2.1778774616162986|
| 2.534975082326879|
| 2.569768181485383|
|2.7435108705516797|
+------------------+
only showing top 20 rows

In [0]:
# 19. ceil
from pyspark.sql.functions import ceil
#Computes the ceiling of the given value.

In [0]:
tipss.select(ceil(col = tipss['total_bill'])).show()

+----------------+
|CEIL(total_bill)|
+----------------+
|              17|
|              11|
|              22|
|              24|
|              25|
|              26|
|               9|
|              27|
|              16|
|              15|
|              11|
|              36|
|              16|
|              19|
|              15|
|              22|
|              11|
|              17|
|              17|
|              21|
+----------------+
only showing top 20 rows

In [0]:
df7 = spark.createDataFrame(data=[(None, None),(1, None), (None, 2)] , schema=('a','b') )

In [0]:
df7.show()

+----+----+
|   a|   b|
+----+----+
|null|null|
|   1|null|
|null|   2|
+----+----+

In [0]:
#20. coalesce
from pyspark.sql.functions import coalesce
#Returns the first column that is not null.

In [0]:
df7.select(coalesce(df7['a'], df7['b'])).show()

+--------------+
|coalesce(a, b)|
+--------------+
|          null|
|             1|
|             2|
+--------------+

In [0]:
from pyspark.sql.functions import lit
#Creates a :class:`Column` of literal value.

In [0]:
df7.select('*', coalesce(df7['a'] , coalesce(df7['b'],lit(col = 0.0)))).show()

+----+----+-----------------------------+
|   a|   b|coalesce(a, coalesce(b, 0.0))|
+----+----+-----------------------------+
|null|null|                          0.0|
|   1|null|                          1.0|
|null|   2|                          2.0|
+----+----+-----------------------------+

In [0]:
df7.select('*',coalesce(df7['a'], lit(col = 0.0))).show()

+----+----+----------------+
|   a|   b|coalesce(a, 0.0)|
+----+----+----------------+
|null|null|             0.0|
|   1|null|             1.0|
|null|   2|             0.0|
+----+----+----------------+

In [0]:
# 21. collect_list
from pyspark.sql.functions import collect_list
#Aggregate function: returns a list of objects with duplicates.

In [0]:
tipss.select(collect_list(col = tipss['total_bill'])).collect()[0][0]

Out[91]: [16.99,
 10.34,
 21.01,
 23.68,
 24.59,
 25.29,
 8.77,
 26.88,
 15.04,
 14.78,
 10.27,
 35.26,
 15.42,
 18.43,
 14.83,
 21.58,
 10.33,
 16.29,
 16.97,
 20.65,
 17.92,
 20.29,
 15.77,
 39.42,
 19.82,
 17.81,
 13.37,
 12.69,
 21.7,
 19.65,
 9.55,
 18.35,
 15.06,
 20.69,
 17.78,
 24.06,
 16.31,
 16.93,
 18.69,
 31.27,
 16.04,
 17.46,
 13.94,
 9.68,
 30.4,
 18.29,
 22.23,
 32.4,
 28.55,
 18.04,
 12.54,
 10.29,
 34.81,
 9.94,
 25.56,
 19.49,
 38.01,
 26.41,
 11.24,
 48.27,
 20.29,
 13.81,
 11.02,
 18.29,
 17.59,
 20.08,
 16.45,
 3.07,
 20.23,
 15.01,
 12.02,
 17.07,
 26.86,
 25.28,
 14.73,
 10.51,
 17.92,
 27.2,
 22.76,
 17.29,
 19.44,
 16.66,
 10.07,
 32.68,
 15.98,
 34.83,
 13.03,
 18.28,
 24.71,
 21.16,
 28.97,
 22.49,
 5.75,
 16.32,
 22.75,
 40.17,
 27.28,
 12.03,
 21.01,
 12.46,
 11.35,
 15.38,
 44.3,
 22.42,
 20.92,
 15.36,
 20.49,
 25.21,
 18.24,
 14.31,
 14.0,
 7.25,
 38.07,
 23.95,
 25.71,
 17.31,
 29.93,
 10.65,
 12.43,
 24.08,
 11.69,
 13.42,
 14.26,
 15.95,
 12.48,
 29.8,
 8.52,
 14.52,
 11.38,
 22.82,
 19.08,
 20.27,
 11.17,
 12.26,
 18.26,
 8.51,
 10.33,
 14.15,
 16.0,
 13.16,
 17.47,
 34.3,
 41.19,
 27.05,
 16.43,
 8.35,
 18.64,
 11.87,
 9.78,
 7.51,
 14.07,
 13.13,
 17.26,
 24.55,
 19.77,
 29.85,
 48.17,
 25.0,
 13.39,
 16.49,
 21.5,
 12.66,
 16.21,
 13.81,
 17.51,
 24.52,
 20.76,
 31.71,
 10.59,
 10.63,
 50.81,
 15.81,
 7.25,
 31.85,
 16.82,
 32.9,
 17.89,
 14.48,
 9.6,
 34.63,
 34.65,
 23.33,
 45.35,
 23.17,
 40.55,
 20.69,
 20.9,
 30.46,
 18.15,
 23.1,
 15.69,
 19.81,
 28.44,
 15.48,
 16.58,
 7.56,
 10.34,
 43.11,
 13.0,
 13.51,
 18.71,
 12.74,
 13.0,
 16.4,
 20.53,
 16.47,
 26.59,
 38.73,
 24.27,
 12.76,
 30.06,
 25.89,
 48.33,
 13.27,
 28.17,
 12.9,
 28.15,
 11.59,
 7.74,
 30.14,
 12.16,
 13.42,
 8.58,
 15.98,
 13.42,
 16.27,
 10.09,
 20.45,
 13.28,
 22.12,
 24.01,
 15.69,
 11.61,
 10.77,
 15.53,
 10.07,
 12.6,
 32.83,
 35.83,
 29.03,
 27.18,
 22.67,
 17.82,
 18.78]

In [0]:
#22. collect_set
from pyspark.sql.functions import collect_set
#Aggregate function: returns a set of objects with duplicate elements eliminated.

In [0]:
tipss.select(collect_set(col = tipss['time'])).collect()[0][0]

Out[93]: ['Dinner', 'Lunch']

In [0]:
#23. concat
from pyspark.sql.functions import concat
#Concatenates multiple input columns together into a single column. The function works with strings, binary and compatible array columns.

In [0]:
tipss.select(concat(tipss['sex'], tipss['time'])).show()

+-----------------+
|concat(sex, time)|
+-----------------+
|     FemaleDinner|
|       MaleDinner|
|       MaleDinner|
|       MaleDinner|
|     FemaleDinner|
|       MaleDinner|
|       MaleDinner|
|       MaleDinner|
|       MaleDinner|
|       MaleDinner|
|       MaleDinner|
|     FemaleDinner|
|       MaleDinner|
|       MaleDinner|
|     FemaleDinner|
|       MaleDinner|
|     FemaleDinner|
|       MaleDinner|
|     FemaleDinner|
|       MaleDinner|
+-----------------+
only showing top 20 rows

In [0]:
# 24. concat_ws
from pyspark.sql.functions import concat_ws
#Concatenates multiple input string columns together into a single string column, using the given separator.

In [0]:
tipss.select(concat_ws(" - ", *[tipss['sex'], tipss['time']])).show()

+-------------------------+
|concat_ws( - , sex, time)|
+-------------------------+
|          Female - Dinner|
|            Male - Dinner|
|            Male - Dinner|
|            Male - Dinner|
|          Female - Dinner|
|            Male - Dinner|
|            Male - Dinner|
|            Male - Dinner|
|            Male - Dinner|
|            Male - Dinner|
|            Male - Dinner|
|          Female - Dinner|
|            Male - Dinner|
|            Male - Dinner|
|          Female - Dinner|
|            Male - Dinner|
|          Female - Dinner|
|            Male - Dinner|
|          Female - Dinner|
|            Male - Dinner|
+-------------------------+
only showing top 20 rows

In [0]:
#25. conv
from pyspark.sql.functions import conv
#Convert a number in a string column from one base to another.

In [0]:
tipss.select(conv(col = tipss['total_bill'], fromBase = 2, toBase = 16)).show()

+-----------------------+
|conv(total_bill, 2, 16)|
+-----------------------+
|                      1|
|                      2|
|                      0|
|                      0|
|                      0|
|                      0|
|                      0|
|                      0|
|                      1|
|                      1|
|                      2|
|                      0|
|                      1|
|                      1|
|                      1|
|                      0|
|                      2|
|                      1|
|                      1|
|                      0|
+-----------------------+
only showing top 20 rows

In [0]:
#26. corr
from pyspark.sql.functions import corr
#Returns a new Column for the Pearson Correlation Coefficient for col1 and col2.

In [0]:
tipss.select(corr(col1=tipss['total_bill'], col2=tipss['tip'])).show()

+---------------------+
|corr(total_bill, tip)|
+---------------------+
|   0.6757341092113646|
+---------------------+

In [0]:
tipss.columns

Out[102]: ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [0]:
tipss.groupBy(['sex']).agg(corr(tipss['total_bill'],tipss['tip'])).show()

+------+---------------------+
|   sex|corr(total_bill, tip)|
+------+---------------------+
|Female|   0.6829992918122417|
|  Male|   0.6697529858911424|
+------+---------------------+

In [0]:
#27. count
from pyspark.sql.functions import count
#Aggregate function: returns the number of items in a group.

In [0]:
tipss.agg(count(col = tipss['sex'])).show()

+----------+
|count(sex)|
+----------+
|       244|
+----------+

In [0]:
tipss.groupBy(tipss['sex']).agg(count(col = tipss['sex'])).show()

+------+----------+
|   sex|count(sex)|
+------+----------+
|Female|        87|
|  Male|       157|
+------+----------+

In [0]:
# 28. countDistinct
from pyspark.sql.functions import countDistinct
#Aggregate function: Returns a new Column for distinct count of col or cols.

In [0]:
tipss.agg(countDistinct(col = tipss['sex'])).show()

+----------+
|count(sex)|
+----------+
|         2|
+----------+

In [0]:
# 29. covar_pop
from pyspark.sql.functions import covar_pop
from pyspark.sql.functions import covar_samp
#Returns a new Column for the population covariance of col1 and col2.

In [0]:
tipss.agg(covar_pop(col1 = tipss['tip'], col2= tipss['total_bill'])).show()

+--------------------------+
|covar_pop(tip, total_bill)|
+--------------------------+
|          8.28938891762967|
+--------------------------+

In [0]:
cp = tipss.groupBy(['day','sex']).agg(covar_pop(col1 = tipss['tip'], col2= tipss['total_bill']).alias('covar_pop'))
cp.show()

+----+------+-----------------+
| day|   sex|        covar_pop|
+----+------+-----------------+
| Sat|  Male|13.28457144498707|
| Sun|  Male|5.205987158145064|
| Sat|Female|5.210117219387756|
| Sun|Female|6.252778395061728|
|Thur|  Male|7.994911777777778|
| Fri|  Male|9.419429000000003|
|Thur|Female|7.259982617187501|
| Fri|Female|2.867982716049383|
+----+------+-----------------+

In [0]:
cs = tipss.groupBy(['day','sex']).agg(covar_samp(col1 = tipss['tip'], col2= tipss['total_bill']).alias('covar_samp'))
cs.show()

+----+------+------------------+
| day|   sex|        covar_samp|
+----+------+------------------+
| Sat|  Male| 13.51361578024547|
| Sun|  Male| 5.297320266182696|
| Sat|Female| 5.403084523809525|
| Sun|Female| 6.620588888888888|
|Thur|  Male| 8.270598390804599|
| Fri|  Male|10.466032222222225|
|Thur|Female| 7.494175604838711|
| Fri|Female| 3.226480555555556|
+----+------+------------------+

In [0]:
#joining in pyspark with multiple conditions
joined = cp.join(other = cs, on = [cp.day == cs.day ,cp.sex == cs.sex ], how = 'inner').drop(cs.day).drop(cs.sex)

In [0]:
joined.show()

+-----------------+----+------+------------------+
|        covar_pop| day|   sex|        covar_samp|
+-----------------+----+------+------------------+
|13.28457144498707| Sat|  Male| 13.51361578024547|
|5.205987158145064| Sun|  Male| 5.297320266182696|
|5.210117219387756| Sat|Female| 5.403084523809525|
|6.252778395061728| Sun|Female| 6.620588888888888|
|7.994911777777778|Thur|  Male| 8.270598390804599|
|9.419429000000003| Fri|  Male|10.466032222222225|
|7.259982617187501|Thur|Female| 7.494175604838711|
|2.867982716049383| Fri|Female| 3.226480555555556|
+-----------------+----+------+------------------+

In [0]:
# 30. covar_samp
from pyspark.sql.functions import covar_samp
#Returns a new Column for the population covariance of col1 and col2.

In [0]:
tipss.agg(covar_samp(col1 = tipss['tip'], col2= tipss['total_bill'])).show()

+---------------------------+
|covar_samp(tip, total_bill)|
+---------------------------+
|          8.323501629224854|
+---------------------------+

In [0]:
#31. create_map
from pyspark.sql.functions import create_map
#Creates a new map column

In [0]:
tipss.select(create_map(tipss['smoker'], tipss['sex'])).show()

+----------------+
|map(smoker, sex)|
+----------------+
|  {No -> Female}|
|    {No -> Male}|
|    {No -> Male}|
|    {No -> Male}|
|  {No -> Female}|
|    {No -> Male}|
|    {No -> Male}|
|    {No -> Male}|
|    {No -> Male}|
|    {No -> Male}|
|    {No -> Male}|
|  {No -> Female}|
|    {No -> Male}|
|    {No -> Male}|
|  {No -> Female}|
|    {No -> Male}|
|  {No -> Female}|
|    {No -> Male}|
|  {No -> Female}|
|    {No -> Male}|
+----------------+
only showing top 20 rows

In [0]:
# 32. current_date
from pyspark.sql.functions import current_date
#Returns the current date as a DateType column.

In [0]:
tipss.select('*',current_date()).show()

+----------+----+------+------+---+------+----+--------------+
|total_bill| tip|   sex|smoker|day|  time|size|current_date()|
+----------+----+------+------+---+------+----+--------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|    2022-02-21|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|    2022-02-21|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|    2022-02-21|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|    2022-02-21|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|    2022-02-21|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|    2022-02-21|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|    2022-02-21|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|    2022-02-21|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|    2022-02-21|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|    2022-02-21|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|    2022-02-21|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|    2022-02-21|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|    2022-02-21|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|    2022-02-21|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|    2022-02-21|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|    2022-02-21|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|    2022-02-21|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|    2022-02-21|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|    2022-02-21|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|    2022-02-21|
+----------+----+------+------+---+------+----+--------------+
only showing top 20 rows

In [0]:
# 33. current_timestamp
from pyspark.sql.functions import current_timestamp
# Returns the current timestamp as a :class:`TimestampType` column.

In [0]:
tipss.select('*', current_timestamp().alias("Today's Date")).show(truncate = False)

+----------+----+------+------+---+------+----+-----------------------+
|total_bill|tip |sex   |smoker|day|time  |size|Today's Date           |
+----------+----+------+------+---+------+----+-----------------------+
|16.99     |1.01|Female|No    |Sun|Dinner|2   |2022-02-21 14:48:43.454|
|10.34     |1.66|Male  |No    |Sun|Dinner|3   |2022-02-21 14:48:43.454|
|21.01     |3.5 |Male  |No    |Sun|Dinner|3   |2022-02-21 14:48:43.454|
|23.68     |3.31|Male  |No    |Sun|Dinner|2   |2022-02-21 14:48:43.454|
|24.59     |3.61|Female|No    |Sun|Dinner|4   |2022-02-21 14:48:43.454|
|25.29     |4.71|Male  |No    |Sun|Dinner|4   |2022-02-21 14:48:43.454|
|8.77      |2.0 |Male  |No    |Sun|Dinner|2   |2022-02-21 14:48:43.454|
|26.88     |3.12|Male  |No    |Sun|Dinner|4   |2022-02-21 14:48:43.454|
|15.04     |1.96|Male  |No    |Sun|Dinner|2   |2022-02-21 14:48:43.454|
|14.78     |3.23|Male  |No    |Sun|Dinner|2   |2022-02-21 14:48:43.454|
|10.27     |1.71|Male  |No    |Sun|Dinner|2   |2022-02-21 14:48:43.454|
|35.26     |5.0 |Female|No    |Sun|Dinner|4   |2022-02-21 14:48:43.454|
|15.42     |1.57|Male  |No    |Sun|Dinner|2   |2022-02-21 14:48:43.454|
|18.43     |3.0 |Male  |No    |Sun|Dinner|4   |2022-02-21 14:48:43.454|
|14.83     |3.02|Female|No    |Sun|Dinner|2   |2022-02-21 14:48:43.454|
|21.58     |3.92|Male  |No    |Sun|Dinner|2   |2022-02-21 14:48:43.454|
|10.33     |1.67|Female|No    |Sun|Dinner|3   |2022-02-21 14:48:43.454|
|16.29     |3.71|Male  |No    |Sun|Dinner|3   |2022-02-21 14:48:43.454|
|16.97     |3.5 |Female|No    |Sun|Dinner|3   |2022-02-21 14:48:43.454|
|20.65     |3.35|Male  |No    |Sat|Dinner|3   |2022-02-21 14:48:43.454|
+----------+----+------+------+---+------+----+-----------------------+
only showing top 20 rows

In [0]:
# 34. date_add
from pyspark.sql.functions import date_add
#Returns the date that is days days after start

In [0]:
tipss.select('*', current_timestamp().alias("Today's Date")).select(date_add(start = "Today's Date", days = 20)).show(truncate = False)
#df.select(date_add(start = df['dt'], days = 20)).show()

+--------------------------+
|date_add(Today's Date, 20)|
+--------------------------+
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
|2022-03-13                |
+--------------------------+
only showing top 20 rows

In [0]:
# 35. date_format
from pyspark.sql.functions import date_format
#Converts a date/timestamp/string to a value of string in the format specified by the date format given by the second argument.

In [0]:
help(date_format)

Help on function date_format in module pyspark.sql.functions:

date_format(date, format)
    Converts a date/timestamp/string to a value of string in the format specified by the date
    format given by the second argument.

    A pattern could be for instance `dd.MM.yyyy` and could return a string like '18.03.1993'. All
    pattern letters of `datetime pattern`_. can be used.

    .. _datetime pattern: https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html

    .. versionadded:: 1.5.0

    Notes
    -----
    Whenever possible, use specialized functions like `year`.

    Examples
    --------
    >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
    >>> df.select(date_format('dt', 'MM/dd/yyy').alias('date')).collect()
    [Row(date='04/08/2015')]

In [0]:
df.show()

+----------+
|        dt|
+----------+
|2015-04-08|
+----------+

In [0]:
df.select(date_format(date = df['dt'], format = "dd-MM-yyyy")).show()

+---------------------------+
|date_format(dt, dd-MM-yyyy)|
+---------------------------+
|                 08-04-2015|
+---------------------------+

In [0]:
# 36. date_sub
from pyspark.sql.functions import date_sub
#Returns the date that is days days before start

In [0]:
df.select(date_sub(start = df['dt'], days = 20)).show()

+----------------+
|date_sub(dt, 20)|
+----------------+
|      2015-03-19|
+----------------+

In [0]:
#37. date_trunc
from pyspark.sql.functions import date_trunc
#Returns timestamp truncated to the unit specified by the format. 
#Parameters format  year, yyyy, yy, month, mon, mm, day, dd, hour, minute, second, week, quarter

In [0]:
df7 = spark.createDataFrame(data = [('1997-02-28 05:02:11',)], schema = ['t'])

In [0]:
df7.show()

+-------------------+
|                  t|
+-------------------+
|1997-02-28 05:02:11|
+-------------------+

In [0]:
df7.select(date_trunc(format = 'dd', timestamp= df7['t'])).show()

+-------------------+
|  date_trunc(dd, t)|
+-------------------+
|1997-02-28 00:00:00|
+-------------------+

In [0]:
# 38. datediff
from pyspark.sql.functions import datediff
#Returns the number of days from start to end.

In [0]:
df8  = spark.createDataFrame([('2015-04-08','2015-05-10')], ['d1', 'd2'])

In [0]:
df8.show()

+----------+----------+
|        d1|        d2|
+----------+----------+
|2015-04-08|2015-05-10|
+----------+----------+

In [0]:
df8.select(datediff(end = df8['d2'], start = df8['d1'])).show()

+----------------+
|datediff(d2, d1)|
+----------------+
|              32|
+----------------+

In [0]:
# 39. dayofmonth
from pyspark.sql.functions import dayofmonth
#Extract the day of the month of a given date as integer.

In [0]:
df7.show()

+-------------------+
|                  t|
+-------------------+
|1997-02-28 05:02:11|
+-------------------+

In [0]:
df7.select(dayofmonth(col = df7['t'])).show()

+-------------+
|dayofmonth(t)|
+-------------+
|           28|
+-------------+

In [0]:
# 40. dayofweek
from pyspark.sql.functions import dayofweek
#Extract the day of the week of a given date as integer

In [0]:
df7.select(dayofweek(col= df7['t'])).show()

+------------+
|dayofweek(t)|
+------------+
|           6|
+------------+

In [0]:
# 41. dayofyear
from pyspark.sql.functions import dayofyear
#Extract the day of the year of a given date as integer.

In [0]:
df7.select(dayofyear(col= df7['t'])).show()

+------------+
|dayofyear(t)|
+------------+
|          59|
+------------+

In [0]:
tipss.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [0]:
# 42. degrees
from pyspark.sql.functions import degrees
#Converts an angle measured in radians to an approximately equivalent angle measured in degrees.

In [0]:
tipss.select(degrees(col = tipss['tip'])).show()

+------------------+
|      DEGREES(tip)|
+------------------+
| 57.86873730821315|
| 95.11099399171665|
|200.53522829578813|
|189.64903018830248|
|206.83776404222718|
|269.86312150661774|
|114.59155902616465|
|178.76283208081685|
|112.29972784564136|
| 185.0653678272559|
| 97.97578296737078|
| 286.4788975654116|
| 89.95437383553926|
|171.88733853924697|
|173.03325412950863|
| 224.5994556912827|
| 95.68395178684747|
| 212.5673419935354|
|200.53522829578813|
|191.94086136882578|
+------------------+
only showing top 20 rows

In [0]:
# 43. element_at
from pyspark.sql.functions import element_at
#Collection function: Returns element of array at given index in extraction if col is array. Returns value for the given key in extraction if col is map
# The position is not zero based, but 1 based index.

In [0]:
df4.show()

+--------------+
|          data|
+--------------+
|     [2, 1, 3]|
|[null, 10, -1]|
+--------------+

In [0]:
df4.select(element_at(col = df4['data'], extraction = 1)).show()

+-------------------+
|element_at(data, 1)|
+-------------------+
|                  2|
|               null|
+-------------------+

In [0]:
df9 = spark.createDataFrame(data = [({'a' : 4, 'b' : 5, 'c' : 2},),
                                    ({'a' : None, 'b' : 2, 'c' : 6 },)], 
                            schema = ['data'])

In [0]:
df9.show()

+--------------------+
|                data|
+--------------------+
|{a -> 4, b -> 5, ...|
|{a -> null, b -> ...|
+--------------------+

In [0]:
df9.select(element_at(col = df9['data'] , extraction = 'a' )).show()

+-------------------+
|element_at(data, a)|
+-------------------+
|                  4|
|               null|
+-------------------+

In [0]:
# 44. exp
from pyspark.sql.functions import exp
#Computes the exponential of the given value.

In [0]:
tipss.select("*",exp(col = tipss['total_bill']).alias("Exp_Total_Bill")).show()

+----------+----+------+------+---+------+----+--------------------+
|total_bill| tip|   sex|smoker|day|  time|size|      Exp_Total_Bill|
+----------+----+------+------+---+------+----+--------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|2.3914606957896195E7|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|  30946.030047045107|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|1.3320700529680028E9|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|1.923505052751323E10|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|4.778606945629662E10|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4| 9.62293267469895E10|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|  6438.1724643633315|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|4.718844579091421E11|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|  3402428.5022910614|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|  2623447.8922747765|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|   28853.88716648863|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|2.056948564161933...|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|   4975318.765551992|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|1.0093628155230926E8|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|  2757954.9419970755|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2| 2.355455584864902E9|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|  30638.111903273773|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|1.1875642361239046E7|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3| 2.344106601278236E7|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3| 9.293537406239572E8|
+----------+----+------+------+---+------+----+--------------------+
only showing top 20 rows

In [0]:
df10 = spark.createDataFrame(data= [(1,[1,2,3],{"a": "b"})], 
                             schema = ['a','intlist','mapfield'])

In [0]:
df10.show()

+---+---------+--------+
|  a|  intlist|mapfield|
+---+---------+--------+
|  1|[1, 2, 3]|{a -> b}|
+---+---------+--------+

In [0]:
# 45. explode
from pyspark.sql.functions import explode
#Returns a new row for each element in the given array or map.

In [0]:
df10.select("*",explode(col = df10['intlist']).alias("Pertaining_to")).show()

+---+---------+--------+-------------+
|  a|  intlist|mapfield|Pertaining_to|
+---+---------+--------+-------------+
|  1|[1, 2, 3]|{a -> b}|            1|
|  1|[1, 2, 3]|{a -> b}|            2|
|  1|[1, 2, 3]|{a -> b}|            3|
+---+---------+--------+-------------+

In [0]:
df10.select("*",explode(col = df10['mapfield'])).show()

+---+---------+--------+---+-----+
|  a|  intlist|mapfield|key|value|
+---+---------+--------+---+-----+
|  1|[1, 2, 3]|{a -> b}|  a|    b|
+---+---------+--------+---+-----+

In [0]:
df11 = spark.createDataFrame(data=[(1, ["foo", "bar"], {"x": 1.0}), 
                                   (2, [], {}), 
                                   (3, None, None)], 
                             schema=("id", "an_array", "a_map"))

In [0]:
df11.show()

+---+----------+----------+
| id|  an_array|     a_map|
+---+----------+----------+
|  1|[foo, bar]|{x -> 1.0}|
|  2|        []|        {}|
|  3|      null|      null|
+---+----------+----------+

In [0]:
# 46. explode_outer
from pyspark.sql.functions import explode_outer
#Returns a new row for each element in the given array or map. Unlike explode, if the array/map is null or empty then null is produced.

In [0]:
df11.select(explode_outer(col = df11['a_map'])).show()

+----+-----+
| key|value|
+----+-----+
|   x|  1.0|
|null| null|
|null| null|
+----+-----+

In [0]:
df11.select("*",explode_outer(col = df11['an_array'])).show()

+---+----------+----------+----+
| id|  an_array|     a_map| col|
+---+----------+----------+----+
|  1|[foo, bar]|{x -> 1.0}| foo|
|  1|[foo, bar]|{x -> 1.0}| bar|
|  2|        []|        {}|null|
|  3|      null|      null|null|
+---+----------+----------+----+

In [0]:
df11.select('*',explode(col=df11['an_array'])).show()

+---+----------+----------+---+
| id|  an_array|     a_map|col|
+---+----------+----------+---+
|  1|[foo, bar]|{x -> 1.0}|foo|
|  1|[foo, bar]|{x -> 1.0}|bar|
+---+----------+----------+---+

In [0]:
#47. expm1 
from pyspark.sql.functions import expm1
#Computes the exponential of the given value minus one.

In [0]:
tipss.select(tipss['total_bill'],expm1(col = tipss['total_bill'])).show()

+----------+--------------------+
|total_bill|   EXPM1(total_bill)|
+----------+--------------------+
|     16.99|2.3914605957896195E7|
|     10.34|  30945.030047045107|
|     21.01|1.3320700519680028E9|
|     23.68|1.923505052651323E10|
|     24.59|4.778606945529662E10|
|     25.29| 9.62293267459895E10|
|      8.77|  6437.1724643633315|
|     26.88|4.718844579081421E11|
|     15.04|  3402427.5022910614|
|     14.78|  2623446.8922747765|
|     10.27|   28852.88716648863|
|     35.26|2.056948564161932...|
|     15.42|   4975317.765551992|
|     18.43|1.0093628055230926E8|
|     14.83|  2757953.9419970755|
|     21.58| 2.355455583864902E9|
|     10.33|  30637.111903273773|
|     16.29|1.1875641361239046E7|
|     16.97| 2.344106501278236E7|
|     20.65| 9.293537396239573E8|
+----------+--------------------+
only showing top 20 rows

In [0]:
# 48. expr
from pyspark.sql.functions import expr
#Parses the expression string into the column that it represents

In [0]:
tipss.select(tipss['sex'],expr(str="length(sex)")).show()

+------+-----------+
|   sex|length(sex)|
+------+-----------+
|Female|          6|
|  Male|          4|
|  Male|          4|
|  Male|          4|
|Female|          6|
|  Male|          4|
|  Male|          4|
|  Male|          4|
|  Male|          4|
|  Male|          4|
|  Male|          4|
|Female|          6|
|  Male|          4|
|  Male|          4|
|Female|          6|
|  Male|          4|
|Female|          6|
|  Male|          4|
|Female|          6|
|  Male|          4|
+------+-----------+
only showing top 20 rows

In [0]:
# 49. factorial
from pyspark.sql.functions import factorial
#Computes the factorial of the given value.

In [0]:
tipss.select(tipss[b'sex'], expr(str = "length(sex)").alias("length") ,factorial(col = expr(str= "length(sex)")).alias("factorial")).show()

+------+------+---------+
|   sex|length|factorial|
+------+------+---------+
|Female|     6|      720|
|  Male|     4|       24|
|  Male|     4|       24|
|  Male|     4|       24|
|Female|     6|      720|
|  Male|     4|       24|
|  Male|     4|       24|
|  Male|     4|       24|
|  Male|     4|       24|
|  Male|     4|       24|
|  Male|     4|       24|
|Female|     6|      720|
|  Male|     4|       24|
|  Male|     4|       24|
|Female|     6|      720|
|  Male|     4|       24|
|Female|     6|      720|
|  Male|     4|       24|
|Female|     6|      720|
|  Male|     4|       24|
+------+------+---------+
only showing top 20 rows

In [0]:
df12 = spark.createDataFrame(data=[([[1, 2, 3], [4, 5], [6]],), 
                                   ([[9,7], [4, 5]],)], 
                             schema=['data'])

In [0]:
df12.show(truncate= False)

+------------------------+
|data                    |
+------------------------+
|[[1, 2, 3], [4, 5], [6]]|
|[[9, 7], [4, 5]]        |
+------------------------+

In [0]:
# 50. flatten
from pyspark.sql.functions import flatten
#Collection function: creates a single array from an array of arrays. If a structure of nested arrays is deeper than two levels, only one level of nesting is removed.

In [0]:
df12.select(flatten(df12['data'])).show()

+------------------+
|     flatten(data)|
+------------------+
|[1, 2, 3, 4, 5, 6]|
|      [9, 7, 4, 5]|
+------------------+

In [0]:
# 51. floor
from pyspark.sql.functions import floor
#Computes the floor of the given value.

In [0]:
tipss.select(tipss['tip'],floor(col = tipss['tip'])).show()

+----+----------+
| tip|FLOOR(tip)|
+----+----------+
|1.01|         1|
|1.66|         1|
| 3.5|         3|
|3.31|         3|
|3.61|         3|
|4.71|         4|
| 2.0|         2|
|3.12|         3|
|1.96|         1|
|3.23|         3|
|1.71|         1|
| 5.0|         5|
|1.57|         1|
| 3.0|         3|
|3.02|         3|
|3.92|         3|
|1.67|         1|
|3.71|         3|
| 3.5|         3|
|3.35|         3|
+----+----------+
only showing top 20 rows

In [0]:
# 52. format_number
from pyspark.sql.functions import format_number
#Formats the number X to a format like #,#,#., rounded to d decimal places with HALF_EVEN round mode, and returns the result as a string.

In [0]:
help(format_number)

In [0]:
tipss.select(format_number(col = tipss['tip'], d = 3 )).show()

+---------------------+
|format_number(tip, 3)|
+---------------------+
|                1.010|
|                1.660|
|                3.500|
|                3.310|
|                3.610|
|                4.710|
|                2.000|
|                3.120|
|                1.960|
|                3.230|
|                1.710|
|                5.000|
|                1.570|
|                3.000|
|                3.020|
|                3.920|
|                1.670|
|                3.710|
|                3.500|
|                3.350|
+---------------------+
only showing top 20 rows

In [0]:
df13 = spark.createDataFrame(data = [("Ritish",'Adhikari'),], 
                             schema = ['Name', 'Surname'] )

In [0]:
df13.show()

+------+--------+
|  Name| Surname|
+------+--------+
|Ritish|Adhikari|
+------+--------+

In [0]:
# 53. format_string
from pyspark.sql.functions import format_string
#Formats the arguments in printf-style and returns the result as a string column.

In [0]:
help(format_string)

Help on function format_string in module pyspark.sql.functions:

format_string(format, *cols)
    Formats the arguments in printf-style and returns the result as a string column.

    .. versionadded:: 1.5.0

    Parameters
    ----------
    format : str
        string that can contain embedded format tags and used as result column's value
    cols : :class:`~pyspark.sql.Column` or str
        column names or :class:`~pyspark.sql.Column`\s to be used in formatting

    Examples
    --------
    >>> df = spark.createDataFrame([(5, "hello")], ['a', 'b'])
    >>> df.select(format_string('%d %s', df.a, df.b).alias('v')).collect()
    [Row(v='5 hello')]

In [0]:
df13.select(format_string('My name is %s and my Surname is %s', *[df13['Name'], df13['Surname']])).show(truncate = False)

+----------------------------------------------------------------+
|format_string(My name is %s and my Surname is %s, Name, Surname)|
+----------------------------------------------------------------+
|My name is Ritish and my Surname is Adhikari                    |
+----------------------------------------------------------------+

In [0]:
# 54. from_unixtime
from pyspark.sql.functions import from_unixtime
#Converts the number of seconds from unix epoch (1970-01-01 00:00:00 UTC) to a string representing the timestamp of that moment in the current system time zone in the given format.

In [0]:
spark.conf.set(key = "spark.sql.session.timeZone", value = "America/Los_Angeles")

In [0]:
time_df = spark.createDataFrame(data = [(1598487542,)], schema = ['unix_time'])

In [0]:
time_df.show()

+----------+
| unix_time|
+----------+
|1598487542|
+----------+

In [0]:
time_df.select(from_unixtime(timestamp = time_df['unix_time'], format = 'yyyy-MM-dd HH:mm:ss')).show()

+---------------------------------------------+
|from_unixtime(unix_time, yyyy-MM-dd HH:mm:ss)|
+---------------------------------------------+
|                          2020-08-26 17:19:02|
+---------------------------------------------+

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, MapType

In [0]:
data = [(1, 
         '''{"a": 1,"b":3,"c":3}''')]

In [0]:
data

Out[217]: [(1, '{"a": 1,"b":3,"c":3}')]

In [0]:
schema = StructType([StructField(name = "a", dataType = IntegerType()),
                     StructField(name = "b", dataType = IntegerType()) ])

In [0]:
type(schema)

Out[219]: pyspark.sql.types.StructType

In [0]:
df14 = spark.createDataFrame(data = data, schema = ("key", "value"))

In [0]:
df14.show()

+---+--------------------+
|key|               value|
+---+--------------------+
|  1|{"a": 1,"b":3,"c":3}|
+---+--------------------+

In [0]:
# 55. from_json
from pyspark.sql.functions import from_json
#Parses a column containing a JSON string into a MapType with StringType as keys type, StructType or ArrayType with the specified schema

In [0]:
df14.select('*',from_json(col = df14['value'], schema = schema).alias('json')).select('key',"json.*").show()

+---+---+---+
|key|  a|  b|
+---+---+---+
|  1|  1|  3|
+---+---+---+

In [0]:
df14.select(from_json(col("value"),schema).alias("alphabets")).select("alphabets.*").show()

+---+---+
|  a|  b|
+---+---+
|  1|  3|
+---+---+

In [0]:
df15 = spark.createDataFrame(data = [("1", '''{"f1": "value1", "f2": "value2"}'''), 
                                     ("2", '''{"f1": "value12"}''')], 
                             schema = ("key", "jstring"))

In [0]:
df15.show(truncate = False)

+---+--------------------------------+
|key|jstring                         |
+---+--------------------------------+
|1  |{"f1": "value1", "f2": "value2"}|
|2  |{"f1": "value12"}               |
+---+--------------------------------+

In [0]:
# 56. get_json_object
from pyspark.sql.functions import get_json_object
#Extracts json object from a json string based on json path specified, and returns json string of the extracted json object. It will return null if the input json string is invalid.

In [0]:
df15.select(get_json_object(col = df15['jstring'] , path = '$.f1' ).alias("F1 Values"), 
            get_json_object(col = df15['jstring'] , path = '$.f2' ).alias("F2 Values")).show()

+---------+---------+
|F1 Values|F2 Values|
+---------+---------+
|   value1|   value2|
|  value12|     null|
+---------+---------+

In [0]:
df14.select(get_json_object(col=df14['value'],path='$.a').alias("F1 Values")).show()

+---------+
|F1 Values|
+---------+
|        1|
+---------+

In [0]:
# 57. greatest
from pyspark.sql.functions import greatest
#Returns the greatest value of the list of column names, skipping null values. This function takes at least 2 parameters. It will return null if all parameters are null.

In [0]:
tipss.select("*", greatest(tipss['total_bill']/12, tipss['tip'])).show()

+----------+----+------+------+---+------+----+--------------------------------+
|total_bill| tip|   sex|smoker|day|  time|size|greatest((total_bill / 12), tip)|
+----------+----+------+------+---+------+----+--------------------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|              1.4158333333333333|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|                            1.66|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|                             3.5|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|                            3.31|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|                            3.61|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|                            4.71|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|                             2.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|                            3.12|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|                            1.96|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|                            3.23|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|                            1.71|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|                             5.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|                            1.57|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|                             3.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|                            3.02|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|                            3.92|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|                            1.67|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|                            3.71|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|                             3.5|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|                            3.35|
+----------+----+------+------+---+------+----+--------------------------------+
only showing top 20 rows

In [0]:
# 58. hex
from pyspark.sql.functions import hex
#Computes hex value of the given column, which could be pyspark.sql.types.StringType,

In [0]:
tipss.select(hex(col=tipss['total_bill'])).show()

+---------------+
|hex(total_bill)|
+---------------+
|             10|
|              A|
|             15|
|             17|
|             18|
|             19|
|              8|
|             1A|
|              F|
|              E|
|              A|
|             23|
|              F|
|             12|
|              E|
|             15|
|              A|
|             10|
|             10|
|             14|
+---------------+
only showing top 20 rows

In [0]:
# 59. hour
from pyspark.sql.functions import hour
#Extract the hours of a given date as integer

In [0]:
df7.show()

+-------------------+
|                  t|
+-------------------+
|1997-02-28 05:02:11|
+-------------------+

In [0]:
df7.select(hour(col = df7['t'])).show()

+-------+
|hour(t)|
+-------+
|      5|
+-------+

In [0]:
#60. hypot
from pyspark.sql.functions import hypot
#Computes ``sqrt(a^2 + b^2)`` without intermediate overflow or underflow.

In [0]:
tipss.select("*",hypot(col1 = tipss['total_bill'], col2 = tipss['tip'])).show()

+----------+----+------+------+---+------+----+----------------------+
|total_bill| tip|   sex|smoker|day|  time|size|HYPOT(total_bill, tip)|
+----------+----+------+------+---+------+----+----------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|    17.019994124558327|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|     10.47240182575134|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|    21.299532858727208|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|    23.910217481235925|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|    24.853575195532734|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|    25.724855684726396|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|     8.995159809586486|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|     27.06046562792296|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|    15.167175083053534|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|    15.128823483668516|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|    10.411387995843782|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|    35.612744909652776|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|    15.499719352297964|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|    18.672570792475256|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|    15.134374780611191|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|    21.933143869495773|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|    10.464119647634003|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|    16.707130214372544|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|    17.327172302484904|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|     20.91996653917018|
+----------+----+------+------+---+------+----+----------------------+
only showing top 20 rows

In [0]:
# 61. initcap
from pyspark.sql.functions import initcap
#Translate the first letter of each word to upper case in the sentence.

In [0]:
df16 = spark.createDataFrame(data = [("my name is ritish",), 
                                     ("i am 32 years old",)], 
                             schema = ['Details'])

In [0]:
df16.show()

+-----------------+
|          Details|
+-----------------+
|my name is ritish|
|i am 32 years old|
+-----------------+

In [0]:
df16.select("*", initcap(col = df16['Details']).alias("InitCap")).show()

+-----------------+-----------------+
|          Details|          InitCap|
+-----------------+-----------------+
|my name is ritish|My Name Is Ritish|
|i am 32 years old|I Am 32 Years Old|
+-----------------+-----------------+

In [0]:
# 61. instr
from pyspark.sql.functions import instr 
#Locate the position of the first occurrence of substr column in the given string. Returns null if either of the arguments are null.

In [0]:
df16.select("*",instr(str = df16['Details'], substr= 'is')).show()

+-----------------+------------------+
|          Details|instr(Details, is)|
+-----------------+------------------+
|my name is ritish|                 9|
|i am 32 years old|                 0|
+-----------------+------------------+

In [0]:
# 62. isnan
from pyspark.sql.functions import isnan
#An expression that returns true if the column is NaN.

In [0]:
df17 = spark.createDataFrame(data = [(1.0, float('nan')), 
                                     (float('nan'), 2.0)], 
                             schema = ("a", "b"))

In [0]:
df17.show()

+---+---+
|  a|  b|
+---+---+
|1.0|NaN|
|NaN|2.0|
+---+---+

In [0]:
df17.select(isnan(col = df17['a']), isnan(col = df17['b'])).show()

+--------+--------+
|isnan(a)|isnan(b)|
+--------+--------+
|   false|    true|
|    true|   false|
+--------+--------+

In [0]:
# 63. isnull
from pyspark.sql.functions import isnull

In [0]:
df18 = spark.createDataFrame(data = [(1.0, None), 
                                     (None, 2.0)], 
                             schema = ("a", "b"))

In [0]:
df18.show()

+----+----+
|   a|   b|
+----+----+
| 1.0|null|
|null| 2.0|
+----+----+

In [0]:
df18.select(isnull(col = df18["a"]).alias("r1"), 
            isnull(col = df18["b"]).alias("r2"))\
            .show()

+-----+-----+
|   r1|   r2|
+-----+-----+
|false| true|
| true|false|
+-----+-----+

In [0]:
df15.show(truncate = False)

+---+--------------------------------+
|key|jstring                         |
+---+--------------------------------+
|1  |{"f1": "value1", "f2": "value2"}|
|2  |{"f1": "value12"}               |
+---+--------------------------------+

In [0]:
df15.select(get_json_object(col = df15['jstring'] , path = '$.f1' ).alias("F1 Values"), 
            get_json_object(col = df15['jstring'] , path = '$.f2' ).alias("F2 Values")).show()

+---------+---------+
|F1 Values|F2 Values|
+---------+---------+
|   value1|   value2|
|  value12|     null|
+---------+---------+

In [0]:
# 64. json_tuple
from pyspark.sql.functions import json_tuple
# Creates a new row for a json column according to the given field names.

In [0]:
help(json_tuple)

Help on function json_tuple in module pyspark.sql.functions:

json_tuple(col, *fields)
    Creates a new row for a json column according to the given field names.

    .. versionadded:: 1.6.0

    Parameters
    ----------
    col : :class:`~pyspark.sql.Column` or str
        string column in json format
    fields : str
        fields to extract

    Examples
    --------
    >>> data = [("1", '''{"f1": "value1", "f2": "value2"}'''), ("2", '''{"f1": "value12"}''')]
    >>> df = spark.createDataFrame(data, ("key", "jstring"))
    >>> df.select(df.key, json_tuple(df.jstring, 'f1', 'f2')).collect()
    [Row(key='1', c0='value1', c1='value2'), Row(key='2', c0='value12', c1=None)]

In [0]:
df15.show(truncate=False)

+---+--------------------------------+
|key|jstring                         |
+---+--------------------------------+
|1  |{"f1": "value1", "f2": "value2"}|
|2  |{"f1": "value12"}               |
+---+--------------------------------+

In [0]:
df15.select(json_tuple(df15['jstring'], *['f1','f2'])).show()

+-------+------+
|     c0|    c1|
+-------+------+
| value1|value2|
|value12|  null|
+-------+------+

In [0]:
df15.select(json_tuple(df15['jstring'], 'f1','f2')).show()

+-------+------+
|     c0|    c1|
+-------+------+
| value1|value2|
|value12|  null|
+-------+------+

In [0]:
# 65. lag
from pyspark.sql.functions import lag
from pyspark.sql.functions import window
from pyspark.sql.window import Window

#Window function: returns the value that is offset rows before the current row, and defaultValue if there is less than offset rows before the current row.

In [0]:
tipss.columns

Out[265]: ['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']

In [0]:
tipss.select("*",lag(col = tipss['total_bill']).over(Window.partitionBy(["day","time"]).orderBy("sex")).alias("Lagged Values")).show(100,False)

+----------+----+------+------+---+------+----+-------------+
|total_bill|tip |sex   |smoker|day|time  |size|Lagged Values|
+----------+----+------+------+---+------+----+-------------+
|5.75      |1.0 |Female|Yes   |Fri|Dinner|2   |null         |
|16.32     |4.3 |Female|Yes   |Fri|Dinner|2   |5.75         |
|22.75     |3.25|Female|No    |Fri|Dinner|2   |16.32        |
|11.35     |2.5 |Female|Yes   |Fri|Dinner|2   |22.75        |
|15.38     |3.0 |Female|Yes   |Fri|Dinner|2   |11.35        |
|28.97     |3.0 |Male  |Yes   |Fri|Dinner|2   |15.38        |
|22.49     |3.5 |Male  |No    |Fri|Dinner|2   |28.97        |
|40.17     |4.73|Male  |Yes   |Fri|Dinner|4   |22.49        |
|27.28     |4.0 |Male  |Yes   |Fri|Dinner|2   |40.17        |
|12.03     |1.5 |Male  |Yes   |Fri|Dinner|2   |27.28        |
|21.01     |3.0 |Male  |Yes   |Fri|Dinner|2   |12.03        |
|12.46     |1.5 |Male  |No    |Fri|Dinner|2   |21.01        |
|13.42     |3.48|Female|Yes   |Fri|Lunch |2   |null         |
|15.98     |3.0 |Female|No    |Fri|Lunch |3   |13.42        |
|16.27     |2.5 |Female|Yes   |Fri|Lunch |2   |15.98        |
|10.09     |2.0 |Female|Yes   |Fri|Lunch |2   |16.27        |
|12.16     |2.2 |Male  |Yes   |Fri|Lunch |2   |10.09        |
|8.58      |1.92|Male  |Yes   |Fri|Lunch |1   |12.16        |
|13.42     |1.58|Male  |Yes   |Fri|Lunch |2   |8.58         |
|20.29     |2.75|Female|No    |Sat|Dinner|2   |null         |
|15.77     |2.23|Female|No    |Sat|Dinner|2   |20.29        |
|19.65     |3.0 |Female|No    |Sat|Dinner|2   |15.77        |
|15.06     |3.0 |Female|No    |Sat|Dinner|2   |19.65        |
|20.69     |2.45|Female|No    |Sat|Dinner|4   |15.06        |
|16.93     |3.07|Female|No    |Sat|Dinner|3   |20.69        |
|26.41     |1.5 |Female|No    |Sat|Dinner|2   |16.93        |
|16.45     |2.47|Female|No    |Sat|Dinner|2   |26.41        |
|3.07      |1.0 |Female|Yes   |Sat|Dinner|1   |16.45        |
|17.07     |3.0 |Female|No    |Sat|Dinner|3   |3.07         |
|26.86     |3.14|Female|Yes   |Sat|Dinner|2   |17.07        |
|25.28     |5.0 |Female|Yes   |Sat|Dinner|2   |26.86        |
|14.73     |2.2 |Female|No    |Sat|Dinner|2   |25.28        |
|44.3      |2.5 |Female|Yes   |Sat|Dinner|3   |14.73        |
|22.42     |3.48|Female|Yes   |Sat|Dinner|2   |44.3         |
|20.92     |4.08|Female|No    |Sat|Dinner|2   |22.42        |
|14.31     |4.0 |Female|Yes   |Sat|Dinner|2   |20.92        |
|7.25      |1.0 |Female|No    |Sat|Dinner|1   |14.31        |
|10.59     |1.61|Female|Yes   |Sat|Dinner|2   |7.25         |
|10.63     |2.0 |Female|Yes   |Sat|Dinner|2   |10.59        |
|12.76     |2.23|Female|Yes   |Sat|Dinner|2   |10.63        |
|13.27     |2.5 |Female|Yes   |Sat|Dinner|2   |12.76        |
|28.17     |6.5 |Female|Yes   |Sat|Dinner|3   |13.27        |
|12.9      |1.1 |Female|Yes   |Sat|Dinner|2   |28.17        |
|30.14     |3.09|Female|Yes   |Sat|Dinner|4   |12.9         |
|22.12     |2.88|Female|Yes   |Sat|Dinner|2   |30.14        |
|35.83     |4.67|Female|No    |Sat|Dinner|3   |22.12        |
|27.18     |2.0 |Female|Yes   |Sat|Dinner|2   |35.83        |
|20.65     |3.35|Male  |No    |Sat|Dinner|3   |27.18        |
|17.92     |4.08|Male  |No    |Sat|Dinner|2   |20.65        |
|39.42     |7.58|Male  |No    |Sat|Dinner|4   |17.92        |
|19.82     |3.18|Male  |No    |Sat|Dinner|2   |39.42        |
|17.81     |2.34|Male  |No    |Sat|Dinner|4   |19.82        |
|13.37     |2.0 |Male  |No    |Sat|Dinner|2   |17.81        |
|12.69     |2.0 |Male  |No    |Sat|Dinner|2   |13.37        |
|21.7      |4.3 |Male  |No    |Sat|Dinner|2   |12.69        |
|9.55      |1.45|Male  |No    |Sat|Dinner|2   |21.7         |
|18.35     |2.5 |Male  |No    |Sat|Dinner|4   |9.55         |
|17.78     |3.27|Male  |No    |Sat|Dinner|2   |18.35        |
|24.06     |3.6 |Male  |No    |Sat|Dinner|3   |17.78        |
|16.31     |2.0 |Male  |No    |Sat|Dinner|3   |24.06        |
|18.69     |2.31|Male  |No    |Sat|Dinner|3   |16.31        |
|31.27     |5.0 |Male  |No    |Sat|Dinner|3   |18.69        |
|16.04     |2.24|Male  |No    |Sat|Dinner|3   |31.27        |
|38.01     |3.0 |Male  |Yes   |Sat|Dinner|4   |16.04        |
|11.24     |1.76|Male  |Yes   |Sat|Dinner|2   |38.01        |
|48.27     |6.73|Male  |No    |Sat|Dinner|4   |11.24        |
|20.29     |3.21|Male  |Yes   |Sat|Dinner|2   |48.27        |
|13.81     |2.0 |Male  |Yes   |Sat|Dinner|2   |20.29        |
|11.02     |1.98|Male  |Yes   |Sat|Dinner|2   |13.81        |
|18.29     |3.76|Male  |Yes   |Sat|Dinner|4   |11.02        |
|17.59     |2.64|Male  |No    |Sat|Dinner|3   |18.29        |
|20.08     |3.15|Male  |No    |Sat|Dinner|3   |17.59        |
|20.23     |2.01|Male  |No    |Sat|Dinner|2   |20.08        |
|15.01     |2.09|Male  |Yes   |Sat|Dinner|2   |20.23        |
|12.02     |1.97|Male  |No    |Sat|Dinner|2   |15.01        |
|10.51     |1.25|Male  |No    |Sat|Dinner|2   |12.02        |
|17.92     |3.08|Male  |Yes   |Sat|Dinner|2   |10.51        |
|15.36     |1.64|Male  |Yes   |Sat|Dinner|2   |17.92        |
|20.49     |4.06|Male  |Yes   |Sat|Dinner|2   |15.36        |
|25.21     |4.29|Male  |Yes   |Sat|Dinner|2   |20.49        |
|18.24     |3.76|Male  |No    |Sat|Dinner|2   |25.21        |
|14.0      |3.0 |Male  |No    |Sat|Dinner|2   |18.24        |
|50.81     |10.0|Male  |Yes   |Sat|Dinner|3   |14.0         |
|15.81     |3.16|Male  |Yes   |Sat|Dinner|2   |50.81        |
|26.59     |3.41|Male  |Yes   |Sat|Dinner|3   |15.81        |
|38.73     |3.0 |Male  |Yes   |Sat|Dinner|4   |26.59        |
|24.27     |2.03|Male  |Yes   |Sat|Dinner|2   |38.73        |
|30.06     |2.0 |Male  |Yes   |Sat|Dinner|3   |24.27        |
|25.89     |5.16|Male  |Yes   |Sat|Dinner|4   |30.06        |
|48.33     |9.0 |Male  |No    |Sat|Dinner|4   |25.89        |
|28.15     |3.0 |Male  |Yes   |Sat|Dinner|5   |48.33        |
|11.59     |1.5 |Male  |Yes   |Sat|Dinner|2   |28.15        |
|7.74      |1.44|Male  |Yes   |Sat|Dinner|2   |11.59        |
|20.45     |3.0 |Male  |No    |Sat|Dinner|4   |7.74         |
|13.28     |2.72|Male  |No    |Sat|Dinner|2   |20.45        |
|24.01     |2.0 |Male  |Yes   |Sat|Dinner|4   |13.28        |
|15.69     |3.0 |Male  |Yes   |Sat|Dinner|3   |24.01        |
|11.61     |3.39|Male  |No    |Sat|Dinner|2   |15.69        |
|10.77     |1.47|Male  |No    |Sat|Dinner|2   |11.61        |
|15.53     |3.0 |Male  |Yes   |Sat|Dinner|2   |10.77        |
+----------+----+------+------+---+------+----+-------------+
only showing top 100 rows

In [0]:
# 66. last
from pyspark.sql.functions import last
 #Aggregate function: returns the last value in a group.

In [0]:
tipss.select(last(col = "total_bill", ignorenulls=True)).show()

+----------------+
|last(total_bill)|
+----------------+
|           18.78|
+----------------+

In [0]:
tipss.groupBy('day').agg(last(col = "total_bill", ignorenulls=True)).show()

+----+----------------+
| day|last(total_bill)|
+----+----------------+
| Sun|           15.69|
| Sat|           17.82|
|Thur|           18.78|
| Fri|           10.09|
+----+----------------+

In [0]:
# 67. last_day
from pyspark.sql.functions import last_day
#Returns the last day of the month which the given date belongs to.

In [0]:
df7.show(5)

+-------------------+
|                  t|
+-------------------+
|1997-02-28 05:02:11|
+-------------------+

In [0]:
#gives the lastday of the month post one month of the entered date through the add_months function.
df7.select("*", last_day(add_months(start = df7['t'], months = 1))).show()

+-------------------+--------------------------+
|                  t|last_day(add_months(t, 1))|
+-------------------+--------------------------+
|1997-02-28 05:02:11|                1997-03-31|
+-------------------+--------------------------+

In [0]:
# 68. lead
from pyspark.sql.functions import lead
#Window function: returns the value that is offset rows after the current row, and defaultValue if there is less than offset rows after the current row. 
#For example, an offset of one will return the next row at any given point in the window partition.

In [0]:
tipss.select("*",lead(col = tipss['total_bill'], offset = 1).over(Window.orderBy('sex')).alias("Lead")).show(tipss.count())

+----------+----+------+------+----+------+----+-----+
|total_bill| tip|   sex|smoker| day|  time|size| Lead|
+----------+----+------+------+----+------+----+-----+
|     16.99|1.01|Female|    No| Sun|Dinner|   2|24.59|
|     24.59|3.61|Female|    No| Sun|Dinner|   4|35.26|
|     35.26| 5.0|Female|    No| Sun|Dinner|   4|14.83|
|     14.83|3.02|Female|    No| Sun|Dinner|   2|10.33|
|     10.33|1.67|Female|    No| Sun|Dinner|   3|16.97|
|     16.97| 3.5|Female|    No| Sun|Dinner|   3|20.29|
|     20.29|2.75|Female|    No| Sat|Dinner|   2|15.77|
|     15.77|2.23|Female|    No| Sat|Dinner|   2|19.65|
|     19.65| 3.0|Female|    No| Sat|Dinner|   2|15.06|
|     15.06| 3.0|Female|    No| Sat|Dinner|   2|20.69|
|     20.69|2.45|Female|    No| Sat|Dinner|   4|16.93|
|     16.93|3.07|Female|    No| Sat|Dinner|   3|10.29|
|     10.29| 2.6|Female|    No| Sun|Dinner|   2|34.81|
|     34.81| 5.2|Female|    No| Sun|Dinner|   4|26.41|
|     26.41| 1.5|Female|    No| Sat|Dinner|   2|16.45|
|     16.45|2.47|Female|    No| Sat|Dinner|   2| 3.07|
|      3.07| 1.0|Female|   Yes| Sat|Dinner|   1|17.07|
|     17.07| 3.0|Female|    No| Sat|Dinner|   3|26.86|
|     26.86|3.14|Female|   Yes| Sat|Dinner|   2|25.28|
|     25.28| 5.0|Female|   Yes| Sat|Dinner|   2|14.73|
|     14.73| 2.2|Female|    No| Sat|Dinner|   2|10.07|
|     10.07|1.83|Female|    No|Thur| Lunch|   1|34.83|
|     34.83|5.17|Female|    No|Thur| Lunch|   4| 5.75|
|      5.75| 1.0|Female|   Yes| Fri|Dinner|   2|16.32|
|     16.32| 4.3|Female|   Yes| Fri|Dinner|   2|22.75|
|     22.75|3.25|Female|    No| Fri|Dinner|   2|11.35|
|     11.35| 2.5|Female|   Yes| Fri|Dinner|   2|15.38|
|     15.38| 3.0|Female|   Yes| Fri|Dinner|   2| 44.3|
|      44.3| 2.5|Female|   Yes| Sat|Dinner|   3|22.42|
|     22.42|3.48|Female|   Yes| Sat|Dinner|   2|20.92|
|     20.92|4.08|Female|    No| Sat|Dinner|   2|14.31|
|     14.31| 4.0|Female|   Yes| Sat|Dinner|   2| 7.25|
|      7.25| 1.0|Female|    No| Sat|Dinner|   1|25.71|
|     25.71| 4.0|Female|    No| Sun|Dinner|   3|17.31|
|     17.31| 3.5|Female|    No| Sun|Dinner|   2|10.65|
|     10.65| 1.5|Female|    No|Thur| Lunch|   2|12.43|
|     12.43| 1.8|Female|    No|Thur| Lunch|   2|24.08|
|     24.08|2.92|Female|    No|Thur| Lunch|   4|13.42|
|     13.42|1.68|Female|    No|Thur| Lunch|   2|12.48|
|     12.48|2.52|Female|    No|Thur| Lunch|   2| 29.8|
|      29.8| 4.2|Female|    No|Thur| Lunch|   6|14.52|
|     14.52| 2.0|Female|    No|Thur| Lunch|   2|11.38|
|     11.38| 2.0|Female|    No|Thur| Lunch|   2|20.27|
|     20.27|2.83|Female|    No|Thur| Lunch|   2|11.17|
|     11.17| 1.5|Female|    No|Thur| Lunch|   2|12.26|
|     12.26| 2.0|Female|    No|Thur| Lunch|   2|18.26|
|     18.26|3.25|Female|    No|Thur| Lunch|   2| 8.51|
|      8.51|1.25|Female|    No|Thur| Lunch|   2|10.33|
|     10.33| 2.0|Female|    No|Thur| Lunch|   2|14.15|
|     14.15| 2.0|Female|    No|Thur| Lunch|   2|13.16|
|     13.16|2.75|Female|    No|Thur| Lunch|   2|17.47|
|     17.47| 3.5|Female|    No|Thur| Lunch|   2|27.05|
|     27.05| 5.0|Female|    No|Thur| Lunch|   6|16.43|
|     16.43| 2.3|Female|    No|Thur| Lunch|   2| 8.35|
|      8.35| 1.5|Female|    No|Thur| Lunch|   2|18.64|
|     18.64|1.36|Female|    No|Thur| Lunch|   3|11.87|
|     11.87|1.63|Female|    No|Thur| Lunch|   2|29.85|
|     29.85|5.14|Female|    No| Sun|Dinner|   5| 25.0|
|      25.0|3.75|Female|    No| Sun|Dinner|   4|13.39|
|     13.39|2.61|Female|    No| Sun|Dinner|   2|16.21|
|     16.21| 2.0|Female|    No| Sun|Dinner|   3|17.51|
|     17.51| 3.0|Female|   Yes| Sun|Dinner|   2|10.59|
|     10.59|1.61|Female|   Yes| Sat|Dinner|   2|10.63|
|     10.63| 2.0|Female|   Yes| Sat|Dinner|   2|  9.6|
|       9.6| 4.0|Female|   Yes| Sun|Dinner|   2| 20.9|
|      20.9| 3.5|Female|   Yes| Sun|Dinner|   3|18.15|
|     18.15| 3.5|Female|   Yes| Sun|Dinner|   3|19.81|
|     19.81|4.19|Female|   Yes|Thur| Lunch|   2|43.11|
|     43.11| 5.0|Female|   Yes|Thur| Lunch|   4| 13.0|
|      13.0| 2.0|Female|   Yes|Thur| Lunch|   2|12.74|
|     12.74|2.01|Female|   Yes|Thur| Lunch|   2| 13.0|
|      13.0| 2.0|Female|   Yes|Thur| Lunch|   2| 16.4|
|      16.4| 2.5|Female|   Yes|Thur| Lunch|   2|16.47|
|     16.47|3.23|Female|   Yes|Thur| Lunch|   3|12.76|
|     12.76|2.23|Female|   Yes| Sat|Dinner|   2|13.27|
|     13.27| 2.5|Female|   Yes| Sat|Dinner|   2|28.17|
|     28.17| 6.5|Female|   Yes| Sat|Dinner|   3| 12.9|
|      12.9| 1.1|Female|   Yes| Sat|Dinner|   2|30.14|
|     30.14|3.09|Female|   Yes| Sat|Dinner|   4|13.42|
|     13.42|3.48|Female|   Yes| Fri| Lunch|   2|15.98|
|     15.98| 3.0|Female|    No| Fri| Lunch|   3|16.27|
|     16.27| 2.5|Female|   Yes| Fri| Lunch|   2|10.09|
|     10.09| 2.0|Female|   Yes| Fri| Lunch|   2|22.12|
|     22.12|2.88|Female|   Yes| Sat|Dinner|   2|35.83|
|     35.83|4.67|Female|    No| Sat|Dinner|   3|27.18|
|     27.18| 2.0|Female|   Yes| Sat|Dinner|   2|18.78|
|     18.78| 3.0|Female|    No|Thur|Dinner|   2|10.34|
|     10.34|1.66|  Male|    No| Sun|Dinner|   3|21.01|
|     21.01| 3.5|  Male|    No| Sun|Dinner|   3|23.68|
|     23.68|3.31|  Male|    No| Sun|Dinner|   2|25.29|
|     25.29|4.71|  Male|    No| Sun|Dinner|   4| 8.77|
|      8.77| 2.0|  Male|    No| Sun|Dinner|   2|26.88|
|     26.88|3.12|  Male|    No| Sun|Dinner|   4|15.04|
|     15.04|1.96|  Male|    No| Sun|Dinner|   2|14.78|
|     14.78|3.23|  Male|    No| Sun|Dinner|   2|10.27|
|     10.27|1.71|  Male|    No| Sun|Dinner|   2|15.42|
|     15.42|1.57|  Male|    No| Sun|Dinner|   2|18.43|
|     18.43| 3.0|  Male|    No| Sun|Dinner|   4|21.58|
|     21.58|3.92|  Male|    No| Sun|Dinner|   2|16.29|
|     16.29|3.71|  Male|    No| Sun|Dinner|   3|20.65|
|     20.65|3.35|  Male|    No| Sat|Dinner|   3|17.92|
|     17.92|4.08|  Male|    No| Sat|Dinner|   2|39.42|
|     39.42|7.58|  Male|    No| Sat|Dinner|   4|19.82|
|     19.82|3.18|  Male|    No| Sat|Dinner|   2|17.81|
|     17.81|2.34|  Male|    No| Sat|Dinner|   4|13.37|
|     13.37| 2.0|  Male|    No| Sat|Dinner|   2|12.69|
|     12.69| 2.0|  Male|    No| Sat|Dinner|   2| 21.7|
|      21.7| 4.3|  Male|    No| Sat|Dinner|   2| 9.55|
|      9.55|1.45|  Male|    No| Sat|Dinner|   2|18.35|
|     18.35| 2.5|  Male|    No| Sat|Dinner|   4|17.78|
|     17.78|3.27|  Male|    No| Sat|Dinner|   2|24.06|
|     24.06| 3.6|  Male|    No| Sat|Dinner|   3|16.31|
|     16.31| 2.0|  Male|    No| Sat|Dinner|   3|18.69|
|     18.69|2.31|  Male|    No| Sat|Dinner|   3|31.27|
|     31.27| 5.0|  Male|    No| Sat|Dinner|   3|16.04|
|     16.04|2.24|  Male|    No| Sat|Dinner|   3|17.46|
|     17.46|2.54|  Male|    No| Sun|Dinner|   2|13.94|
|     13.94|3.06|  Male|    No| Sun|Dinner|   2| 9.68|
|      9.68|1.32|  Male|    No| Sun|Dinner|   2| 30.4|
|      30.4| 5.6|  Male|    No| Sun|Dinner|   4|18.29|
|     18.29| 3.0|  Male|    No| Sun|Dinner|   2|22.23|
|     22.23| 5.0|  Male|    No| Sun|Dinner|   2| 32.4|
|      32.4| 6.0|  Male|    No| Sun|Dinner|   4|28.55|
|     28.55|2.05|  Male|    No| Sun|Dinner|   3|18.04|
|     18.04| 3.0|  Male|    No| Sun|Dinner|   2|12.54|
|     12.54| 2.5|  Male|    No| Sun|Dinner|   2| 9.94|
|      9.94|1.56|  Male|    No| Sun|Dinner|   2|25.56|
|     25.56|4.34|  Male|    No| Sun|Dinner|   4|19.49|
|     19.49|3.51|  Male|    No| Sun|Dinner|   2|38.01|
|     38.01| 3.0|  Male|   Yes| Sat|Dinner|   4|11.24|
|     11.24|1.76|  Male|   Yes| Sat|Dinner|   2|48.27|
|     48.27|6.73|  Male|    No| Sat|Dinner|   4|20.29|
|     20.29|3.21|  Male|   Yes| Sat|Dinner|   2|13.81|
|     13.81| 2.0|  Male|   Yes| Sat|Dinner|   2|11.02|
|     11.02|1.98|  Male|   Yes| Sat|Dinner|   2|18.29|
|     18.29|3.76|  Male|   Yes| Sat|Dinner|   4|17.59|
|     17.59|2.64|  Male|    No| Sat|Dinner|   3|20.08|
|     20.08|3.15|  Male|    No| Sat|Dinner|   3|20.23|
|     20.23|2.01|  Male|    No| Sat|Dinner|   2|15.01|
|     15.01|2.09|  Male|   Yes| Sat|Dinner|   2|12.02|
|     12.02|1.97|  Male|    No| Sat|Dinner|   2|10.51|
|     10.51|1.25|  Male|    No| Sat|Dinner|   2|17.92|
|     17.92|3.08|  Male|   Yes| Sat|Dinner|   2| 27.2|
|      27.2| 4.0|  Male|    No|Thur| Lunch|   4|22.76|
|     22.76| 3.0|  Male|    No|Thur| Lunch|   2|17.29|
|     17.29|2.71|  Male|    No|Thur| Lunch|   2|19.44|
|     19.44| 3.0|  Male|   Yes|Thur| Lunch|   2|16.66|
|     16.66| 3.4|  Male|    No|Thur| Lunch|   2|32.68|
|     32.68| 5.0|  Male|   Yes|Thur| Lunch|   2|15.98|
|     15.98|2.03|  Male|    No|Thur| Lunch|   2|13.03|
|     13.03| 2.0|  Male|    No|Thur| Lunch|   2|18.28|
|     18.28| 4.0|  Male|    No|Thur| Lunch|   2|24.71|
|     24.71|5.85|  Male|    No|Thur| Lunch|   2|21.16|
|     21.16| 3.0|  Male|    No|Thur| Lunch|   2|28.97|
|     28.97| 3.0|  Male|   Yes| Fri|Dinner|   2|22.49|
|     22.49| 3.5|  Male|    No| Fri|Dinner|   2|40.17|
|     40.17|4.73|  Male|   Yes| Fri|Dinner|   4|27.28|
|     27.28| 4.0|  Male|   Yes| Fri|Dinner|   2|12.03|
|     12.03| 1.5|  Male|   Yes| Fri|Dinner|   2|21.01|
|     21.01| 3.0|  Male|   Yes| Fri|Dinner|   2|12.46|
|     12.46| 1.5|  Male|    No| Fri|Dinner|   2|15.36|
|     15.36|1.64|  Male|   Yes| Sat|Dinner|   2|20.49|
|     20.49|4.06|  Male|   Yes| Sat|Dinner|   2|25.21|
|     25.21|4.29|  Male|   Yes| Sat|Dinner|   2|18.24|
|     18.24|3.76|  Male|    No| Sat|Dinner|   2| 14.0|
|      14.0| 3.0|  Male|    No| Sat|Dinner|   2|38.07|
|     38.07| 4.0|  Male|    No| Sun|Dinner|   3|23.95|
|     23.95|2.55|  Male|    No| Sun|Dinner|   2|29.93|
|     29.93|5.07|  Male|    No| Sun|Dinner|   4|11.69|
|     11.69|2.31|  Male|    No|Thur| Lunch|   2|14.26|
|     14.26| 2.5|  Male|    No|Thur| Lunch|   2|15.95|
|     15.95| 2.0|  Male|    No|Thur| Lunch|   2| 8.52|
|      8.52|1.48|  Male|    No|Thur| Lunch|   2|22.82|
|     22.82|2.18|  Male|    No|Thur| Lunch|   3|19.08|
|     19.08| 1.5|  Male|    No|Thur| Lunch|   2| 16.0|
|      16.0| 2.0|  Male|   Yes|Thur| Lunch|   2| 34.3|
|      34.3| 6.7|  Male|    No|Thur| Lunch|   6|41.19|
|     41.19| 5.0|  Male|    No|Thur| Lunch|   5| 9.78|
|      9.78|1.73|  Male|    No|Thur| Lunch|   2| 7.51|
|      7.51| 2.0|  Male|    No|Thur| Lunch|   2|14.07|
|     14.07| 2.5|  Male|    No| Sun|Dinner|   2|13.13|
|     13.13| 2.0|  Male|    No| Sun|Dinner|   2|17.26|
|     17.26|2.74|  Male|    No| Sun|Dinner|   3|24.55|
|     24.55| 2.0|  Male|    No| Sun|Dinner|   4|19.77|
|     19.77| 2.0|  Male|    No| Sun|Dinner|   4|48.17|
|     48.17| 5.0|  Male|    No| Sun|Dinner|   6|16.49|
|     16.49| 2.0|  Male|    No| Sun|Dinner|   4| 21.5|
|      21.5| 3.5|  Male|    No| Sun|Dinner|   4|12.66|
|     12.66| 2.5|  Male|    No| Sun|Dinner|   2|13.81|
|     13.81| 2.0|  Male|    No| Sun|Dinner|   2|24.52|
|     24.52|3.48|  Male|    No| Sun|Dinner|   3|20.76|
|     20.76|2.24|  Male|    No| Sun|Dinner|   2|31.71|
|     31.71| 4.5|  Male|    No| Sun|Dinner|   4|50.81|
|     50.81|10.0|  Male|   Yes| Sat|Dinner|   3|15.81|
|     15.81|3.16|  Male|   Yes| Sat|Dinner|   2| 7.25|
|      7.25|5.15|  Male|   Yes| Sun|Dinner|   2|31.85|
|     31.85|3.18|  Male|   Yes| Sun|Dinner|   2|16.82|
|     16.82| 4.0|  Male|   Yes| Sun|Dinner|   2| 32.9|
|      32.9|3.11|  Male|   Yes| Sun|Dinner|   2|17.89|
|     17.89| 2.0|  Male|   Yes| Sun|Dinner|   2|14.48|
|     14.48| 2.0|  Male|   Yes| Sun|Dinner|   2|34.63|
|     34.63|3.55|  Male|   Yes| Sun|Dinner|   2|34.65|
|     34.65|3.68|  Male|   Yes| Sun|Dinner|   4|23.33|
|     23.33|5.65|  Male|   Yes| Sun|Dinner|   2|45.35|
|     45.35| 3.5|  Male|   Yes| Sun|Dinner|   3|23.17|
|     23.17| 6.5|  Male|   Yes| Sun|Dinner|   4|40.55|
|     40.55| 3.0|  Male|   Yes| Sun|Dinner|   2|20.69|
|     20.69| 5.0|  Male|    No| Sun|Dinner|   5|30.46|
|     30.46| 2.0|  Male|   Yes| Sun|Dinner|   5| 23.1|
|      23.1| 4.0|  Male|   Yes| Sun|Dinner|   3|15.69|
|     15.69| 1.5|  Male|   Yes| Sun|Dinner|   2|28.44|
|     28.44|2.56|  Male|   Yes|Thur| Lunch|   2|15.48|
|     15.48|2.02|  Male|   Yes|Thur| Lunch|   2|16.58|
|     16.58| 4.0|  Male|   Yes|Thur| Lunch|   2| 7.56|
|      7.56|1.44|  Male|    No|Thur| Lunch|   2|10.34|
|     10.34| 2.0|  Male|   Yes|Thur| Lunch|   2|13.51|
|     13.51| 2.0|  Male|   Yes|Thur| Lunch|   2|18.71|
|     18.71| 4.0|  Male|   Yes|Thur| Lunch|   3|20.53|
|     20.53| 4.0|  Male|   Yes|Thur| Lunch|   4|26.59|
|     26.59|3.41|  Male|   Yes| Sat|Dinner|   3|38.73|
|     38.73| 3.0|  Male|   Yes| Sat|Dinner|   4|24.27|
|     24.27|2.03|  Male|   Yes| Sat|Dinner|   2|30.06|
|     30.06| 2.0|  Male|   Yes| Sat|Dinner|   3|25.89|
|     25.89|5.16|  Male|   Yes| Sat|Dinner|   4|48.33|
|     48.33| 9.0|  Male|    No| Sat|Dinner|   4|28.15|
|     28.15| 3.0|  Male|   Yes| Sat|Dinner|   5|11.59|
|     11.59| 1.5|  Male|   Yes| Sat|Dinner|   2| 7.74|
|      7.74|1.44|  Male|   Yes| Sat|Dinner|   2|12.16|
|     12.16| 2.2|  Male|   Yes| Fri| Lunch|   2| 8.58|
|      8.58|1.92|  Male|   Yes| Fri| Lunch|   1|13.42|
|     13.42|1.58|  Male|   Yes| Fri| Lunch|   2|20.45|
|     20.45| 3.0|  Male|    No| Sat|Dinner|   4|13.28|
|     13.28|2.72|  Male|    No| Sat|Dinner|   2|24.01|
|     24.01| 2.0|  Male|   Yes| Sat|Dinner|   4|15.69|
|     15.69| 3.0|  Male|   Yes| Sat|Dinner|   3|11.61|
|     11.61|3.39|  Male|    No| Sat|Dinner|   2|10.77|
|     10.77|1.47|  Male|    No| Sat|Dinner|   2|15.53|
|     15.53| 3.0|  Male|   Yes| Sat|Dinner|   2|10.07|
|     10.07|1.25|  Male|    No| Sat|Dinner|   2| 12.6|
|      12.6| 1.0|  Male|   Yes| Sat|Dinner|   2|32.83|
|     32.83|1.17|  Male|   Yes| Sat|Dinner|   2|29.03|
|     29.03|5.92|  Male|    No| Sat|Dinner|   3|22.67|
|     22.67| 2.0|  Male|   Yes| Sat|Dinner|   2|17.82|
|     17.82|1.75|  Male|    No| Sat|Dinner|   2| null|
+----------+----+------+------+----+------+----+-----+

In [0]:
# 69. least
from pyspark.sql.functions import least
#Returns the least value of the list of column names, skipping null values. This function takes at least 2 parameters. It will return null iff all parameters are null.

In [0]:
tipss.select("*",least(tipss['total_bill']/12, tipss['tip'])).show()

+----------+----+------+------+---+------+----+-----------------------------+
|total_bill| tip|   sex|smoker|day|  time|size|least((total_bill / 12), tip)|
+----------+----+------+------+---+------+----+-----------------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|                         1.01|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|           0.8616666666666667|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|           1.7508333333333335|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|           1.9733333333333334|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|            2.049166666666667|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|                       2.1075|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|           0.7308333333333333|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|           2.2399999999999998|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|           1.2533333333333332|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|           1.2316666666666667|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|           0.8558333333333333|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|            2.938333333333333|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|                        1.285|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|           1.5358333333333334|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|           1.2358333333333333|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|           1.7983333333333331|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|           0.8608333333333333|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|                       1.3575|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|           1.4141666666666666|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|           1.7208333333333332|
+----------+----+------+------+---+------+----+-----------------------------+
only showing top 20 rows

In [0]:
tipss.show(10,False)

+----------+----+------+------+---+------+----+
|total_bill|tip |sex   |smoker|day|time  |size|
+----------+----+------+------+---+------+----+
|16.99     |1.01|Female|No    |Sun|Dinner|2   |
|10.34     |1.66|Male  |No    |Sun|Dinner|3   |
|21.01     |3.5 |Male  |No    |Sun|Dinner|3   |
|23.68     |3.31|Male  |No    |Sun|Dinner|2   |
|24.59     |3.61|Female|No    |Sun|Dinner|4   |
|25.29     |4.71|Male  |No    |Sun|Dinner|4   |
|8.77      |2.0 |Male  |No    |Sun|Dinner|2   |
|26.88     |3.12|Male  |No    |Sun|Dinner|4   |
|15.04     |1.96|Male  |No    |Sun|Dinner|2   |
|14.78     |3.23|Male  |No    |Sun|Dinner|2   |
+----------+----+------+------+---+------+----+
only showing top 10 rows

In [0]:
tipss.groupBy('Sex').agg(max(tipss['tip'])).show()

+------+--------+
|   Sex|max(tip)|
+------+--------+
|Female|     6.5|
|  Male|    10.0|
+------+--------+

In [0]:
tipss.groupBy(['sex']).agg(max(tipss['total_bill'])).show()

+------+---------------+
|   sex|max(total_bill)|
+------+---------------+
|Female|           44.3|
|  Male|          50.81|
+------+---------------+

In [0]:
# 70. length
from pyspark.sql.functions import length
#Computes the character length of string data or number of bytes of binary data. The length of character data includes the trailing spaces. 
#The length of binary data includes binary zeros.

In [0]:
df16.select("*",length(df16['Details'])).show()

+-----------------+---------------+
|          Details|length(Details)|
+-----------------+---------------+
|my name is ritish|             17|
|i am 32 years old|             17|
+-----------------+---------------+

In [0]:
# 71. levenshtein
from pyspark.sql.functions import levenshtein
#Computes the Levenshtein distance of the two given strings.

In [0]:
tipss.select("*",levenshtein(left = tipss['sex'], right = tipss['time'])).show()

+----------+----+------+------+---+------+----+----------------------+
|total_bill| tip|   sex|smoker|day|  time|size|levenshtein(sex, time)|
+----------+----+------+------+---+------+----+----------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|                     6|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|                     5|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|                     5|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|                     5|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|                     6|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|                     5|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|                     5|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|                     5|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|                     5|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|                     5|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|                     5|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|                     6|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|                     5|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|                     5|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|                     6|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|                     5|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|                     6|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|                     5|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|                     6|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|                     5|
+----------+----+------+------+---+------+----+----------------------+
only showing top 20 rows

In [0]:
# 72. lit
from pyspark.sql.functions import lit
# Creates a :class:`Column` of literal value.

In [0]:
tipss.select("*",lit(6)).show()

+----------+----+------+------+---+------+----+---+
|total_bill| tip|   sex|smoker|day|  time|size|  6|
+----------+----+------+------+---+------+----+---+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|  6|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|  6|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|  6|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|  6|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|  6|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|  6|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|  6|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|  6|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|  6|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|  6|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|  6|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|  6|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|  6|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|  6|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|  6|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|  6|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|  6|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|  6|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|  6|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|  6|
+----------+----+------+------+---+------+----+---+
only showing top 20 rows

In [0]:
# 73. locate
from pyspark.sql.functions import locate
#Locate the position of the first occurrence of substr in a string column, after position pos.

In [0]:
help(instr)

In [0]:
# There is a subtle difference between instr and locate
tipss.select(instr(str = tipss['sex'], substr = 'e')).show()

+-------------+
|instr(sex, e)|
+-------------+
|            2|
|            4|
|            4|
|            4|
|            2|
|            4|
|            4|
|            4|
|            4|
|            4|
|            4|
|            2|
|            4|
|            4|
|            2|
|            4|
|            2|
|            4|
|            2|
|            4|
+-------------+
only showing top 20 rows

In [0]:
tipss.select(locate(substr = 'e', str = tipss['sex'] , pos = 3)).show()

+-----------------+
|locate(e, sex, 3)|
+-----------------+
|                6|
|                4|
|                4|
|                4|
|                6|
|                4|
|                4|
|                4|
|                4|
|                4|
|                4|
|                6|
|                4|
|                4|
|                6|
|                4|
|                6|
|                4|
|                6|
|                4|
+-----------------+
only showing top 20 rows

In [0]:
# 74. log
from pyspark.sql.functions import log
#Returns the first argument-based logarithm of the second argument.

In [0]:
tipss.select(log(arg1=5.0, arg2=tipss['total_bill'])).show()

+--------------------+
|LOG(5.0, total_bill)|
+--------------------+
|  1.7600088290450437|
|  1.4514507524849507|
|   1.891963952962733|
|  1.9662956772465017|
|   1.989725625007124|
|  2.0071660023195492|
|  1.3491274125015362|
|   2.045050939975118|
|  1.6842608823735448|
|  1.6734257933856977|
|  1.4472301204945295|
|  2.2136605267247944|
|  1.6997644624872705|
|  1.8105574307459014|
|  1.6755241909713976|
|  1.9085961229683437|
|  1.4508495575328122|
|  1.7338670855550729|
|  1.7592769856924013|
|  1.8812252998489087|
+--------------------+
only showing top 20 rows

In [0]:
# 75. log10
from pyspark.sql.functions import log10
#Computes the logarithm of the given value in Base 10.

In [0]:
tipss.select(log10(col = tipss['total_bill'])).show()

+------------------+
| LOG10(total_bill)|
+------------------+
|1.2301933788690456|
|1.0145205387579237|
|1.3224260524059526|
| 1.374381698050882|
|1.3907585287387172|
|1.4029488293444048|
|0.9429995933660404|
|1.4294292643817876|
|1.1772478362556233|
|1.1696744340588068|
| 1.011570443597278|
|1.5472823079633031|
|1.1880843737149382|
|1.2655253352190738|
| 1.171141151028382|
| 1.334051440346892|
|1.0141003215196205|
|1.2119210843085093|
|1.2296818423176759|
|  1.31492005599242|
+------------------+
only showing top 20 rows

In [0]:
# 76. log1p
from pyspark.sql.functions import log1p
#Computes the natural logarithm of the given value plus one.

In [0]:
tipss.select(log1p(col = tipss['total_bill'])).show()

+------------------+
| LOG1P(total_bill)|
+------------------+
|2.8898160479624417|
| 2.428336298299606|
|3.0914968955383704|
| 3.205993199037187|
|3.2422016501716975|
|  3.26918863874179|
|2.2793164660546914|
| 3.327909585892323|
|2.7750856024383683|
|2.7587433154177283|
| 2.422144328051685|
| 3.590715205326705|
|2.7985001040242823|
|2.9668182633893485|
| 2.761906873892921|
|3.1170645587215158|
|2.4274540750399147|
| 2.850128299695199|
|2.8887037007954675|
| 3.075005454448499|
+------------------+
only showing top 20 rows

In [0]:
# 77. log2
from pyspark.sql.functions import log2
#Returns the base-2 logarithm of the argument.

In [0]:
tipss.select(log2(col = tipss['total_bill'])).show()

+------------------+
|  LOG2(total_bill)|
+------------------+
| 4.086613947409496|
|  3.37016428054021|
| 4.393004256898322|
| 4.565597175854225|
| 4.619999829821357|
|4.6604951318885135|
|3.1325768426700082|
| 4.748461233004035|
| 3.910732661902913|
| 3.885574364371426|
|3.3603642765434705|
| 5.139960569545456|
|3.9467308601403093|
| 4.203984165855989|
| 3.890446692679906|
| 4.431622959713293|
| 3.368768349090335|
| 4.025914698750793|
| 4.084914659767938|
| 4.368069876532084|
+------------------+
only showing top 20 rows

In [0]:
df16.show()

+-----------------+
|          Details|
+-----------------+
|my name is ritish|
|i am 32 years old|
+-----------------+

In [0]:
# 77. lower
from pyspark.sql.functions import lower
#Converts a string column to lower case.

In [0]:
df16.select(lower(col = df16['Details'])).show()

+-----------------+
|   lower(Details)|
+-----------------+
|my name is ritish|
|i am 32 years old|
+-----------------+

In [0]:
# 78. lpad
from pyspark.sql.functions import lpad
#Left-pad the string column to width len with pad.

In [0]:
df16.select(lpad(col = df16['Details'], len = 22 , pad = "*" )).show(truncate = False)

+----------------------+
|lpad(Details, 22, *)  |
+----------------------+
|*****my name is ritish|
|*****i am 32 years old|
+----------------------+

In [0]:
# 79. ltrim
from pyspark.sql.functions import ltrim
# Trim the spaces from left end for the specified string value.

In [0]:
df16.select(ltrim(col = df16['Details'])).show()

+-----------------+
|   ltrim(Details)|
+-----------------+
|my name is ritish|
|i am 32 years old|
+-----------------+

In [0]:
# 80. map_from_arrays
from pyspark.sql.functions import map_from_arrays
# Creates a new map from two arrays.

In [0]:
help(map_from_arrays)

Help on function map_from_arrays in module pyspark.sql.functions:

map_from_arrays(col1, col2)
    Creates a new map from two arrays.

    .. versionadded:: 2.4.0

    Parameters
    ----------
    col1 : :class:`~pyspark.sql.Column` or str
        name of column containing a set of keys. All elements should not be null
    col2 : :class:`~pyspark.sql.Column` or str
        name of column containing a set of values

    Examples
    --------
    >>> df = spark.createDataFrame([([2, 5], ['a', 'b'])], ['k', 'v'])
    >>> df.select(map_from_arrays(df.k, df.v).alias("map")).show()
    +----------------+
    |             map|
    +----------------+
    |{2 -> a, 5 -> b}|
    +----------------+

In [0]:
df19 = spark.createDataFrame(data = [([2,5], ['a','b'])], 
                             schema = ['k','v'])

In [0]:
df19.show()

+------+------+
|     k|     v|
+------+------+
|[2, 5]|[a, b]|
+------+------+

In [0]:
df19.select(map_from_arrays(col1 = df19['k'], col2 = df19['v'])).show()

+---------------------+
|map_from_arrays(k, v)|
+---------------------+
|     {2 -> a, 5 -> b}|
+---------------------+

In [0]:
p = df19.select(map_from_arrays(col1 = df19['k'], col2 = df19['v']).alias('mapping'))
p.collect()

Out[312]: [Row(mapping={5: 'b', 2: 'a'})]

In [0]:
# 81. max
from pyspark.sql.functions import max
#Aggregate function: returns the maximum value of the expression in a group.

In [0]:
tipss.select(max(tipss['total_bill'])).show()

+---------------+
|max(total_bill)|
+---------------+
|          50.81|
+---------------+

In [0]:
tipss.groupBy(tipss['sex']).agg(max(tipss['total_bill'])).show()

+------+---------------+
|   sex|max(total_bill)|
+------+---------------+
|Female|           44.3|
|  Male|          50.81|
+------+---------------+

In [0]:
tipss.select("*",max(col =  tipss['total_bill']).over(Window.partitionBy('sex').orderBy('sex'))).show(100)

In [0]:
# 82. mean
from pyspark.sql.functions import mean
#Aggregate function: returns the average of the values in a group.

In [0]:
tipss.select(mean(tipss['total_bill'])).show()

+------------------+
|   avg(total_bill)|
+------------------+
|19.785942622950817|
+------------------+

In [0]:
# 83. min
from pyspark.sql.functions import min
#Aggregate function: returns the minimum value of the expression in a group.

In [0]:
tipss.select(min(col = tipss['total_bill'])).show()

In [0]:
#84. minute
from pyspark.sql.functions import minute
#Extract the minutes of a given date as integer.

In [0]:
df7.show()

In [0]:
df7.select(minute(col = df7['t'])).show()

In [0]:
# 85. monotonically_increasing_id
from pyspark.sql.functions import monotonically_increasing_id
#A column that generates monotonically increasing 65-bit integers

In [0]:
tipss.select("*",monotonically_increasing_id()).show(tipss.count())

In [0]:
# 86. month
from pyspark.sql.functions import month
#Extract the month of a given date as integer.

In [0]:
df7.select("*",month(col = df7['t'])).show()

In [0]:
df8.show()

In [0]:
# 87. months_between 
from pyspark.sql.functions import months_between
#Help on function months_between in module pyspark.sql.functions

In [0]:
df8.select(months_between(date1 = df8['d2'], date2 = df8['d1'], roundOff=True)).show()

In [0]:
df7.show()

In [0]:
df20 = spark.createDataFrame(data=[[None, None],
                                   [1, None], 
                                   [None, 2]] , 
                             schema=('a','b') )

In [0]:
df20.show()

In [0]:
# 88. next_day
from pyspark.sql.functions import next_day
#Returns the first date which is later than the value of the date column.

In [0]:
df7.select(next_day(date = df7['t'], dayOfWeek = 'wed').alias("Next Tuesday")).show()

In [0]:
#89. ntile
from pyspark.sql.functions import ntile
#Window function: returns the ntile group id (from 1 to `n` inclusive) in an ordered window partition.

In [0]:
tipss.select("*",ntile(n=5).over(Window.partitionBy('day').orderBy('day'))).show(100)

In [0]:
tipss.show()

In [0]:
# 90. pandas_udf
from pyspark.sql.functions import pandas_udf, PandasUDFType
import pandas as pd
import numpy as np
from pyspark.sql.types import IntegerType, StringType, FloatType

In [0]:
str_lower = pandas_udf(lambda p : p.str.lower(), StringType())

In [0]:
tipss.select(str_lower(tipss['sex'])).show()

In [0]:
def tip_sex_std(df):
  return df.groupby('sex').agg({'tip' : lambda p : np.std(p)})

In [0]:
tip_sex_std(df = tips)

,tip
sex,
Male,1.484352
Female,1.152811

In [0]:
df21 = spark.createDataFrame(data=[(1, 1.0), 
                                   (1, 2.0), 
                                   (2, 3.0), 
                                   (2, 5.0), 
                                   (2, 10.0)],
                             schema=("id", "v"))

In [0]:
df21.show()

In [0]:
df21.select(mean(df21['v'])).show()

In [0]:
from pyspark.sql.functions import stddev_samp, stddev, stddev_pop

In [0]:
df21.select(stddev_pop(df21['v'])).show()

In [0]:
@pandas_udf("id long, v double", PandasUDFType.GROUPED_MAP)  
def normalize(df):
  z = df['v']
  return df.assign(v=(z - z.mean()) / z.std())

In [0]:
@pandas_udf("id long, v double", PandasUDFType.GROUPED_MAP)  
def normalize_apply(df):
  #z=df['v']
  df['v']=df['v'].apply(lambda x: x-df['v'].mean()/df['v'].std())
  return df

In [0]:
df21.groupby("id").apply(normalize_apply).show()

In [0]:
# def normalize(pdf):
#   z = pdf['v']
#   #return pdf.assign(v=(v - v.mean()) / v.std())
#   return pdf.assign(v= z - z.mean())

In [0]:
normalizer = pandas_udf(normalize, 'id long, v long', PandasUDFType.GROUPED_MAP )

In [0]:
df21.groupby("id").apply(normalize_apply).show()

In [0]:
def agg_std(df):
  return df.std()

In [0]:
agg_std(df=tips['tip'])

In [0]:
help(pandas_udf)

In [0]:
agg_std_func = pandas_udf(f = lambda df : df.std()  , returnType = FloatType(), functionType = PandasUDFType.GROUPED_AGG)
#can also be written as : 
#agg_std_func = pandas_udf(f = agg_std, returnType=FloatType(), functionType=PandasUDFType.GROUPED_AGG)

In [0]:
tipss.groupBy('sex').agg(agg_std_func(tipss['tip'])).show()

In [0]:
# Returns the mean of the 2nd and the 9th element for each Male and Female Sex group.
agg_std_func = pandas_udf(f = lambda df : np.mean([df.iloc[1],df.iloc[9]]), returnType = FloatType(), functionType = PandasUDFType.GROUPED_AGG)

tipss.groupBy('sex').agg(agg_std_func(tipss['tip'])).show()

In [0]:
# 91. posexplode
from pyspark.sql.functions import posexplode
#Returns a new row for each element with position in the given array or map.

In [0]:
df10.show(truncate= False)

In [0]:
df10.select("*",explode(df10['intlist'])).show()

In [0]:
df10.select("*",posexplode(df10['intlist'])).show()

In [0]:
# 92. posexplode_outer
from pyspark.sql.functions import posexplode_outer
#Returns a new row for each element with position in the given array or map. Unlike posexplode, if the array/map is null or empty then the row (null, null) is produced.

In [0]:
df22 = spark.createDataFrame(data = [(1,["foo", "bar"], {"x":1.0}),
                                     (2,[],{}),
                                     (3, None, None)
                                    ], 
                             schema = ["id", "an_array", "a_map"])

In [0]:
df22.show()

In [0]:
df22.select("*",posexplode_outer(df22['an_array'])).show()

In [0]:
df22.select("*",posexplode(df22['an_array'])).show()

In [0]:
# 93. pow
from pyspark.sql.functions import pow
# Returns the value of the first argument raised to the power of the second argument.

In [0]:
tipss.select("*",pow(col1 = tipss['total_bill'], col2 = tipss['tip'])).show(30)

In [0]:
# 94. quarter
from pyspark.sql.functions import quarter
#Extract the quarter of a given date as integer.

In [0]:
df8.show()

In [0]:
df8.select(quarter(df8['d2'])).show()

In [0]:
df8.select(quarter(add_months(df8['d2'],5))).show()

In [0]:
help(quarter)

In [0]:
# 95. radians
from pyspark.sql.functions import radians
#Converts an angle measured in degrees to an approximately equivalent angle measured in radians. Param col: angle in degrees :return: angle in radians

In [0]:
tipss.select(tipss['total_bill'],radians(col = tipss['total_bill']).alias('total_bill_radians')).show()

In [0]:
#96. rand
from pyspark.sql.functions import rand
#Generates a random column with independent and identically distributed (i.i.d.) samples from U[0.0, 1.0].

In [0]:
tipss.select(rand(seed = 42)).show()

In [0]:
# 97. randn
from pyspark.sql.functions import randn
#Generates a column with independent and identically distributed (i.i.d.) samples from the standard normal distribution.

In [0]:
tipss.select("tip",randn(seed = 32)).show()

In [0]:
# 98. rank
from pyspark.sql.functions import rank
#Window function: returns the rank of rows within a window partition

In [0]:
help(tipss.orderBy)

In [0]:
tipss.select("*",rank().over(Window.partitionBy('day').orderBy('total_bill')).alias("Ordered Rank Total Bill")).show(100)

In [0]:
from pyspark.sql.functions import desc
tipss.select("*",rank().over(Window.partitionBy('day').orderBy(desc('total_bill'))).alias("Ordered Rank Total Bill Desc")).show(100)

In [0]:
df23 = spark.createDataFrame(data = [('100-200',),
                                     ('foo',),
                                     ('aaaac',)], 
                             schema = ['str'])

In [0]:
df23.show()

In [0]:
# 99. regexp_extract
from pyspark.sql.functions import regexp_extract
#Extract a specific group matched by a Java regex, from the specified string column. If the regex did not match, or the specified group did not match, an empty string is returned.

In [0]:
df23.select(regexp_extract(str = 'str', pattern = r'(\d+-\d+)', idx = 0)).show()

In [0]:
df23.select(regexp_extract(str = 'str', pattern = r'(\D+)', idx = 0)).show()

In [0]:
# 100. regexp_replace
from pyspark.sql.functions import regexp_replace
#Replace all substrings of the specified string value that match regexp with rep.

In [0]:
df23.select(regexp_replace(str ='str', pattern = r'(100)', replacement = '232')).show()

In [0]:
df23.select(regexp_replace(str ='str', pattern = r'(foo)', replacement = 'fool')).show()

In [0]:
# 101. repeat
from pyspark.sql.functions import repeat

In [0]:
help(repeat)

In [0]:
tipss.select(repeat(col = tipss['total_bill'], n = 3)).show(10)

In [0]:
tipss.show()

In [0]:
# 102. reverse
from pyspark.sql.functions import reverse
#Collection function: returns a reversed string or an array with reverse order of elements.

In [0]:
tipss.select(reverse(col = tipss['sex'])).show(10)

In [0]:
# 103. rint
from pyspark.sql.functions import rint
#Returns the double value that is closest in value to the argument and is equal to a mathematical integer.

In [0]:
tipss.select(tipss['total_bill'],rint(col = tipss['total_bill'])).show()

In [0]:
# 104. round
from pyspark.sql.functions import round
# Round the given value to `scale` decimal places using HALF_UP rounding mode if `scale` >= 0 or at integral part when `scale` < 0.

In [0]:
tipss.select(tipss['total_bill'], round(col = tipss['total_bill'], scale = 1)).show()

In [0]:
tipss.show(5)

In [0]:
# 105. row_number
from pyspark.sql.functions import row_number
#Window function: returns a sequential number starting at 1 within a window partition.

In [0]:
tipss.select("*",row_number().over(Window.orderBy('day')).alias("Row Number")).show(244)

In [0]:
# 106. rpad
from pyspark.sql.functions import rpad
#Right-pad the string column to width len with pad.

In [0]:
tipss.select(rpad(col = tipss['sex'], len = 6, pad = '*')).show()

In [0]:
# 107. rtrim
from pyspark.sql.functions import rtrim
#Right-pad the string column to width len with pad.

In [0]:
tipss.select(rtrim(col = tipss['sex'])).show()

In [0]:
# 108. schema_of_json
from pyspark.sql.functions import schema_of_json
#Parses a JSON string and infers its schema in DDL format.

In [0]:
help(schema_of_json)

In [0]:
df14.show()

In [0]:
df14.select(schema_of_json(json = '{"a": 1, "b": 4}')).show(truncate = False)

In [0]:
# 109. second
from pyspark.sql.functions import second
#Extract the seconds of a given date as integer.

In [0]:
df7.show()

In [0]:
df7.select(second(col = df7['t'])).show()

In [0]:
#110 shiftLeft
from pyspark.sql.functions import shiftLeft
#Shift the given value numBits left.

In [0]:
tipss.select(tipss['total_bill'],shiftLeft(col = tipss['total_bill'], numBits = 2).alias("Left Shift")).show()

In [0]:
# 111 shiftRight
from pyspark.sql.functions import shiftRight
#Shift the given value numBits Right.

In [0]:
tipss.select(tipss['total_bill'], shiftRight(col = tipss['total_bill'], numBits = 2).alias("Right_Shift")).show()

In [0]:
# 112. shuffle
from pyspark.sql.functions import shuffle
#Collection function: Generates a random permutation of the given array. Only work with Dataframes containing Arrays.

In [0]:
df1.show()

In [0]:
df1.select(shuffle(col = df1['data'])).show()

In [0]:
# 113. signum
from pyspark.sql.functions import signum
#Computes the signum of the given value. 1 if value greater than 0. 0 if value is 0 and -1 if the value is less than 0.

In [0]:
tipss.select(signum(col = tipss['total_bill']/8 - tipss['tip'])).show()

In [0]:
# 114. sin
from pyspark.sql.functions import sin
#sine of the angle, as if computed by java.lang.Math.sin(). col is in radians.

In [0]:
tipss.select(tipss['total_bill'],sin(col = tipss['total_bill'])).show()

In [0]:
# 115. sinh
from pyspark.sql.functions import sinh
#hyperbolic sine of the given value, as if computed by java.lang.Math.sinh(). col  angle in radians

In [0]:
tipss.select(tipss['total_bill'],sinh(col = tipss['total_bill'])).show()

In [0]:
df2.show()

In [0]:
# 116. size
from pyspark.sql.functions import size
#Collection function: returns the length of the array or map stored in the column.

In [0]:
df2.show()

In [0]:
df2.select(size(col = df2['data_1'])).show()

In [0]:
# 117. skewness
from pyspark.sql.functions import skewness
#Collection function: returns the length of the array or map stored in the column.

In [0]:
tipss.select(skewness(tipss['total_bill'])).show()

In [0]:
tipss.groupBy('sex').agg(skewness(tipss['total_bill'])).show()

In [0]:
# 118. slice
from pyspark.sql.functions import slice
#Collection function: returns an array containing all the elements in x from index start (or starting from the end if start is negative) with the specified length.

In [0]:
df2.select(slice(x = df2['data_1'], start = 1, length = 2)).show()

In [0]:
#119. sort_array
from pyspark.sql.functions import sort_array
#Collection function: sorts the input array in ascending or descending order according to the natural ordering of the array elements.

In [0]:
df2.select(sort_array(col=df2['data_2'], asc =False)).show()

In [0]:
df2.select(sort_array(col=df2['data_2'], asc =True)).show()

In [0]:
df23.show()

In [0]:
# 120. split
from pyspark.sql.functions import split
#Splits str around pattern (pattern is a regular expression).

In [0]:
help(split)

In [0]:
df23.select(split(str = 'str', pattern = r'(-)' )).show()

In [0]:
# 121. sqrt
from pyspark.sql.functions import sqrt
#Computes the square root of the specified float value.

In [0]:
tipss.select(tipss['total_bill'],sqrt(col = tipss['total_bill'])).show()

In [0]:
# 122. stddev
from pyspark.sql.functions import stddev
#Aggregate function: alias for stddev_samp

In [0]:
tipss.select(stddev(col = tipss['total_bill'])).show()

In [0]:
# 123. stddev_pop
from pyspark.sql.functions import stddev_pop
#Aggregate function: returns population standard deviation of the expression in a group.

In [0]:
tipss.select(stddev_pop(col = tipss['total_bill'])).show()

In [0]:
# 124. stddev_samp
from pyspark.sql.functions import stddev_samp
#Aggregate function: returns the unbiased sample standard deviation of the expression in a group.

In [0]:
tipss.select(stddev_samp(col = tipss['total_bill'])).show()

In [0]:
# 125. struct
from pyspark.sql.functions import struct
#Creates a new struct column.

In [0]:
help(struct)

In [0]:
tipss.select(struct(*[[tipss['total_bill'], tipss['tip']]]).alias("Struct Column")).show()

In [0]:
# 126. substring 
from pyspark.sql.functions import substring
#Substring starts at pos and is of length len when str is String type or returns the slice of byte array that starts at pos in byte and is of length len when str is Binary type.

In [0]:
tipss.select(tipss['sex'],substring(str = tipss['sex'], pos = 1, len = 3).alias('Substring Values')).show()

In [0]:
# 127. substring_index 
from pyspark.sql.functions import substring_index
#Returns the substring from string str before count occurrences of the delimiter delim. If count is positive, everything the left of the final delimiter (counting from left) is returned. If count is negative, every to the right of the final delimiter (counting from the right) is returned.

In [0]:
df24 = spark.createDataFrame(data=[('a.b.c.d',),
                                   ('p.b.k.e.j',)], 
                             schema=['s'])

In [0]:
df24.show()

In [0]:
help(substring_index)

In [0]:
df24.select("*",substring_index(str = df24['s'], delim = '.', count = 2)).show()

In [0]:
df24.select("*",substring_index(str = df24['s'], delim = '.', count = -3)).show()

In [0]:
# 128. sum
from pyspark.sql.functions import sum
#Aggregate function: returns the sum of all values in the expression.

In [0]:
tipss.select(sum(col = tipss['total_bill'])).show()

In [0]:
tipss.groupBy('sex').agg(sum(col= tipss['tip'])).show()

In [0]:
#129. sumDistinct
from pyspark.sql.functions import sumDistinct
# Aggregate function: returns the sum of distinct values in the expression.

In [0]:
tipss.select(sumDistinct(col = tipss['total_bill'])).show()

In [0]:
g = tipss.groupBy('day').agg(sum(col = tipss['total_bill']),sumDistinct(col = tipss['total_bill'])).show()

In [0]:
# 130. tan
from pyspark.sql.functions import tan
#angle in radians. tangent of the given value, as if computed by `java.lang.Math.tan()

In [0]:
tipss.select(tan(col = tipss['total_bill'])).show()

In [0]:
# 131. tanh
from pyspark.sql.functions import tanh
#col  hyperbolic angle. Hyperbolic tangent of the given value, as if computed by java.lang.Math.tanh()

In [0]:
tipss.select(tanh(col = tipss['total_bill'])).show()

In [0]:
# 132. toDegrees 
from pyspark.sql.functions import toDegrees, degrees
#Converts an angle measured in radians to an approximately equivalent angle measured in degrees.

In [0]:
tipss.select(degrees(col= tan(col = tipss['total_bill'])).alias('Degrees of Total_Bill')).show()

In [0]:
# 133. radians
from pyspark.sql.functions import radians
#  Converts an angle measured in degrees to an approximately equivalent angle measured in radians.

In [0]:
tipss.select(radians (col = tipss['total_bill'])).show()

In [0]:
from pyspark.sql.functions import percent_rank
xdum = tipss.select("*",percent_rank().over(Window.partitionBy('day').orderBy('total_bill')).alias("Hello"))
xdum_sun = xdum.filter((xdum['Hello']<=0.5) & (xdum['day']=='Sun'))
xdum_sun.filter(xdum_sun['Hello'] == xdum_sun.select(max(xdum_sun['Hello'])).collect()[0][0]).show()

In [0]:
# 134. to_date
from pyspark.sql.functions import to_date
#Converts a Column of pyspark.sql.types.StringType or pyspark.sql.types.TimestampType into pyspark.sql.types.DateType using the optionally specified format.

In [0]:
df7.select(to_date(col = df7['t'], format = 'yyyy-mm-dd')).show()

In [0]:
df25 = spark.createDataFrame(data = [(1, {'alice': 2}), 
                                     (2, {'jon': 3})], 
                             schema = ["key", "value"])

In [0]:
df25.show()

In [0]:
# 135. to_json
from pyspark.sql.functions import to_json
# Converts a column containing a :class:`StructType`, :class:`ArrayType` or a :class:`MapType` into a JSON string.

In [0]:
help(to_json)

In [0]:
df25.select(to_json(col = df25['value'])).show()

In [0]:
# 136. to_timestamp
from pyspark.sql.functions import to_timestamp

In [0]:
help(to_timestamp)

In [0]:
df7.show()

In [0]:
df7.select(to_timestamp(df7['t'])).show()

In [0]:
#137. to_utc_timestamp
from pyspark.sql.functions import to_utc_timestamp
#This function takes a timestamp which is timezone-agnostic, and interprets it as a timestamp in the given timezone, and renders that timestamp as a timestamp in UTC.

In [0]:
df7.select(to_timestamp(col =df7['t'], format = "IST" )).show()

In [0]:
# 138. trim
from pyspark.sql.functions import trim
#Trim the spaces from both ends for the specified string column.

In [0]:
tipss.select(trim(col = tipss['sex'])).show()

In [0]:
# 139. trunc
from pyspark.sql.functions import trunc
# Returns date truncated to the unit specified by the format.

In [0]:
help(trunc)

In [0]:
df7.select(trunc(date = df7['t'], format = 'mm')).show()

In [0]:
# 140. udf
from pyspark.sql.functions import udf
#Creates a user defined function (UDF).
from pyspark.sql.types import FloatType

In [0]:
help(udf)

In [0]:
import math

In [0]:
@udf(returnType = FloatType())
def total_bill_2(val):
  return (math.sin(val))

In [0]:
# This function will also work
#totall_bill_2 = pandas_udf(f= lambda s : np.sin(s) , returnType=FloatType())

@pandas_udf(returnType = FloatType())
def totall_bill_2(val):
  return (np.sin(val))

In [0]:
tipss.select('*', totall_bill_2(tipss['total_bill'])).show()

In [0]:
# 141. unix_timestamp
from pyspark.sql.functions import unix_timestamp
#Convert time string with given pattern (yyyy-MM-dd HH:mm:ss, by default) to Unix time stamp (in seconds), using the default timezone and the default locale, return null if fail.

In [0]:
df7.select(unix_timestamp(timestamp = df7['t'], format='yyyy-MM-dd HH:mm:ss')).show()

In [0]:
# 142. upper
from pyspark.sql.functions import upper
# Converts a string column to upper case.

In [0]:
tipss.select(upper(col = tipss['sex'])).show()

In [0]:
# 143. var_pop
from pyspark.sql.functions import var_pop
# returns the population variance of the values in a group.

In [0]:
tipss.select(var_pop(col = tipss['total_bill'])).show()

In [0]:
# 144. var_samp
from pyspark.sql.functions import var_samp
#Aggregate function: returns the unbiased sample variance of the values in a group.

In [0]:
tipss.select(var_samp(col = tipss['total_bill'])).show()

In [0]:
# 145. variance
from pyspark.sql.functions import variance
#Aggregate function: alias for var_samp.

In [0]:
tipss.select(variance(col = tipss['total_bill'])).show()

In [0]:
# 146. weekofyear
from pyspark.sql.functions import weekofyear
#Extract the week number of a given date as integer.

In [0]:
df7.select(weekofyear(col = df7['t'])).show()

In [0]:
# 147. when
from pyspark.sql.functions import when
#Evaluates a list of conditions and returns one of multiple possible result expressions. If Column.otherwise() is not invoked, None is returned for unmatched conditions.

In [0]:
help(when)

In [0]:
tipss.select(tipss['total_bill'],when(condition = tipss['total_bill']>14, value = 'Greater than Average' ).otherwise("Less than Average").alias("When Statement")).show()

In [0]:
tipss.select(tipss['total_bill'], when(condition = tipss['total_bill']>14, value = 'Greater than Average' ).when(condition = tipss['total_bill']>10, value = 'Average' ).otherwise("Less than Average").alias("When Statement")).show()

In [0]:
x = tipss.select("*",percent_rank().over(Window.partitionBy('day').orderBy('total_bill')).alias("percentile rank"))
x.show(x.count())

In [0]:
#x.filter(round(x['percentile rank'], 1)==0.5).groupBy('day').agg(max(col = 'percentile rank')).show()
x.filter((x['percentile rank']>0.49) & (x['percentile rank']<0.51)).groupBy('day').agg(max(col = 'total_bill').alias('total_bill'), max(col = 'percentile rank').alias('percentile_rank')).show()